footer {
  padding-bottom: 0.8rem;
  position: relative;
  bottom: 0;
  background-color: var(--layout-background);
  color: var(--layout-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4rem;
  padding: 0 2.5rem 0.8rem 2.5rem;
}
footer * {
  color: var(--layout-text);
}
footer a {
  text-decoration: none;
  font-weight: bold;
}
.footer-column {
  display: flex;
}

/* Copyrights */
.footer-copyr {
  flex-shrink: 0;
  font-weight: bold;
}
.footer-copyr div {
  margin: 0.8rem 0.8rem 0 0;
}
.footer-copyr a:hover,
.footer-copyr a:active,
.footer-copyr a:focus {
  text-decoration: none;
  background-color: var(--layout-text);
  color: var(--layout-background);
}

/* Social media buttons */
.footer-contact {
  flex-wrap: wrap;
  align-items: center;
}
a.footer-image-link {
  line-height: 0;
  margin: 0.8rem 0 0 0.8rem;
  text-decoration: none;
}
img.footer-icon {
  height: 1.5rem;
}
