/* Gutters */
.gutter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.top-gutter {
  border-bottom: solid var(--border-width-thin) var(--content-text-dark);
  justify-content: flex-start;
  justify-content: space-between;
}
.bottom-gutter {
  margin-top: calc(var(--margin) * 1.25);
  border-top: solid var(--border-width-thin) var(--content-text-dark);
  justify-content: space-between;
}

/* Gutter group*/
.gutter-group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.gutter-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.8rem;
}
.gutter-item li {
  display: inline;
  white-space: nowrap;
  margin: 0;
}
.gutter-item a {
  color: var(--content-text-dark);
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}
.gutter-item a:hover,
.gutter-item a:active,
.gutter-item a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

/* Specific gutter items */
.next-previous-page {
  display: flex;
  flex-direction: row;
}
.next-parent-previous-page a {
  display: block;
}
.next-page {
  margin-left: 0.5rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.pagination-counter {
  font-size: 0.7rem;
  font-weight: bold;
}
.pagination-next-link {
  margin-left: 0.2rem;
}
.pagination-prev-link {
  margin-right: 0.2rem;
}

.gutter-item li + li:before,
.subpages li + li:before,
.gutter-group .gutter-item + .gutter-item::before {
  font-size: 0.8rem;
}
.taxonomy-refs li + li:before,
.subpages li + li:before,
.gutter-group .gutter-item + .gutter-item::before {
  content: "• ";
  padding: 0 0.1rem;
}

.breadcrumbs li + li:before {
  content: " / ";
  padding-left: 0.2rem;
}

.print-button-link {
  cursor: default;
}

.print-button-link:hover,
.print-button-link:active,
.print-button-link:focus {
  cursor: pointer;
}
