.hamburger-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hamburger-wrapper input {
  display: none;
}
.hamburger-wrapper .material-icons {
  color: var(--layout-text);
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.hamburger-wrapper .hamburger-container:hover,
.hamburger-wrapper .hamburger-container:active,
.hamburger-wrapper .hamburger-container:focus {
  cursor: pointer;
}
