.hamburger-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.hamburger-wrapper .material-icons {
  color: var(--layout-text);
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.hamburger-wrapper:hover,
.hamburger-wrapper:active,
.hamburger-wrapper:focus {
  cursor: pointer;
}
