header {
  color: var(--layout-text);
}

#header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--layout-background);
  padding: 0 var(--margin-large) 0 var(--margin-large);
}

.logo-nav-primary {
  display: flex;
  align-items: center;
}
#nav-primary {
  padding: 1.2rem 1.6rem;
}

#site-title a {
  color: var(--layout-text);
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  white-space: nowrap;
}

#nav-primary ul {
  display: flex;
  flex-wrap: wrap;
}
#nav-primary li {
  list-style: none;
  padding: 0 var(--margin) 0 0;
  flex-shrink: 0;
}
#nav-primary li:last-of-type {
  list-style: none;
  padding: 0;
}
#nav-primary li a {
  color: var(--layout-text);
  text-decoration: none;
  font-weight: bold;
}

/* Indicate active sites */
#nav-primary li a.active {
  border-bottom: solid calc(var(--border-width) * 0.2) var(--layout-text);
}

#nav-primary a:hover,
#nav-primary a:active,
#nav-primary a:focus {
  text-decoration: none;
  background-color: var(--layout-text);
  color: var(--layout-background);
}

.theme-switch {
  flex-shrink: 0;
}
