/* Top info */
.meta .meta-top-wrapper {
  display: flex;
  margin-top: calc(var(--margin) * 0.25);
}
.meta .datetime-wrapper {
  font-weight: bold;
}
.meta .author-wrapper {
  font-weight: bold;
}
.meta .author-wrapper,
.meta .categories-wrapper {
  margin-left: 0.25rem;
}
.meta .categories-wrapper .category::before,
.meta .author-wrapper::before {
  content: " • ";
}

/* Tags */
.tags-wrapper > ul,
.categories-wrapper > ul {
  font-weight: bold;
}
.tags-wrapper li {
  list-style: none;
  flex-shrink: 0;
}
.tags-wrapper ul {
  display: flex;
  flex-wrap: wrap;
}
.tags-wrapper a,
.categories-wrapper a {
  color: var(--content-text-dark);
  font-weight: bold;
  text-decoration: none;
}
.tags-wrapper a:hover,
.tags-wrapper a:active,
.tags-wrapper a:focus,
.categories-wrapper a:hover,
.categories-wrapper a:active,
.categories-wrapper a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
.tag {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.tag a::before {
  content: "#";
}
