.meta-top-wrapper {
  display: flex;
  margin-top: calc(var(--margin) * 0.25);
}

.datetime-wrapper {
  font-weight: bold;
}

.author-wrapper {
  font-weight: bold;
}

.author-wrapper,
.categories-wrapper {
  margin-left: 0.25rem;
}

.categories-wrapper .category::before,
.author-wrapper::before {
  content: " • ";
}

.tags-wrapper > ul,
.categories-wrapper > ul {
  font-weight: bold;
}

.tags-wrapper li {
  list-style: none;
  flex-shrink: 0;
}

.tags-wrapper ul {
  display: flex;
  flex-wrap: wrap;
}

.categories-wrapper .category a {
  color: var(--content-text-dark);
}
.categories-wrapper .category a:hover,
.categories-wrapper .category a:active,
.categories-wrapper .category a:focus {
  text-decoration: none;
}
.tags-wrapper a,
.categories-wrapper a {
  color: var(--content-text-dark);
  font-weight: bold;
  text-decoration: none;
}

.tags-wrapper a:hover,
.tags-wrapper a:active,
.tags-wrapper a:focus,
.categories-wrapper a:hover,
.categories-wrapper a:active,
.categories-wrapper a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

.tag {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.tag a::before {
  content: "#";
}

.summary {
  margin-top: calc(var(--margin) * 0.5);
}

.summary a {
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.summary a:hover,
.summary a:active,
.summary a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
