.on-this-page-wrapper {
  margin: 0 var(--margin-large) var(--margin) var(--margin-large);
}

#on-this-page .on-this-page-caption {
  font-weight: bold;
  font-size: 0.9rem;
}

#on-this-page li {
  list-style: none;
  font-size: 0.8rem;
  text-align: left;
}

#on-this-page li {
  padding-top: 0.15rem;
}

#on-this-page li:first-of-type {
  padding-top: 0;
}

#on-this-page li li {
  margin-left: 0.5rem;
}

#on-this-page a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--content-text-middle);
}
#on-this-page a:hover,
#on-this-page a:active,
#on-this-page li a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
#on-this-page li > ul {
  display: none;
}

#on-this-page .on-this-page-caption-dynamic {
  display: none;
}
#on-this-page .on-this-page-caption-static {
  display: unset;
}

/* Move to right for not phones */
@media only screen and (min-width: 992px) {
  #on-this-page .on-this-page-caption-dynamic {
    display: unset;
  }
  #on-this-page .on-this-page-caption-static {
    display: none;
  }
  main {
    position: relative;
  }
  .on-this-page-wrapper {
    position: fixed;
    width: calc(var(--margin-large) * 0.75);
    top: 9.3rem;
    max-height: 68vh;
    overflow: scroll;
    right: calc(var(--margin-large) - calc(var(--margin-large) * 0.8));
    margin: 0;
    padding-left: 1rem;
    border-left: solid var(--border-width-thin) var(--content-background-middle);
  }
  #on-this-page a,
  #on-this-page li {
    font-size: 0.7rem;
  }
  #on-this-page li > ul {
    display: unset;
  }
  #on-this-page .on-this-page-caption {
    font-size: 0.8rem;
  }
}
