.on-this-page-wrapper {
  margin: 0 var(--margin-large) var(--margin) var(--margin-large);
}

.on-this-page-caption {
  font-weight: bold;
}

#on-this-page li {
  list-style: none;
  font-size: 0.8rem;
  text-align: left;
}

#on-this-page li + li {
  padding-top: 0.25rem;
}

#on-this-page li li {
  margin-left: 0.5rem;
}

#on-this-page a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--content-text-middle);
}
#on-this-page a:hover,
#on-this-page a:active,
#on-this-page a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

/* Move to right for not phones */
@media only screen and (min-width: 992px) {
  main {
    position: relative;
  }
  .on-this-page-wrapper {
    position: fixed;
    width: 10rem;
    top: 7.5rem;
    right: calc(var(--margin-large) - 12rem);
    margin: 0;
    padding-left: 1rem;
    border-left: solid var(--border-width-thin) var(--content-background-middle);
  }
}
