ul.related-links-list {
  margin: 0 0 0 var(--margin);
  list-style: none;
}

li.related-link a {
  font-weight: bold;
  text-decoration: none;
}

li.related-link a::after {
  content: " »";
}

li.related-link a:hover,
li.related-link a:active {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
