ul.related-links-list {
  margin: 0 0 0 var(--margin);
  list-style: none;
}

/* Style related links */
li.related-link a {
  font-weight: bold;
  text-decoration: none;
}
li.related-link a::after {
  content: " »";
}
li.related-link a:hover,
li.related-link a:active,
li.related-link a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
