.theme-switch-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.theme-switch-wrapper .theme-switch {
  line-height: 0;
}
.theme-switch-wrapper .theme-switch input {
  display: none;
}
.theme-switch-wrapper .theme-switch .material-icons {
  color: var(--layout-text);
}

.theme-switch-wrapper .theme-switch:hover,
.theme-switch-wrapper .theme-switch:active,
.theme-switch-wrapper .theme-switch:focus {
  cursor: pointer;
}
