.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 1.6rem;
  position: relative;
}
.theme-switch input {
  display: none;
}

.theme-switch .material-icons {
  color: var(--layout-text);
}
