#layout-section.layout-blog .desc,
#layout-section.layout-blog .desc-image,
#layout-single.layout-blog .desc,
#layout-single.layout-blog .desc-image {
  margin-top: calc(var(--margin) / 2);
}

#layout-section.layout-blog .desc-image,
#layout-single.layout-blog .desc-image {
  width: 100%;
  object-fit: cover;
}

#layout-section.layout-blog .read-more-container,
#layout-single.layout-blog .read-more-container,
#layout-single.layout-taxonomy .read-more-container {
  display: flex;
  justify-content: right;
  margin-top: calc(var(--margin) / 4);
}

#layout-single.layout-blog#layout-section.layout-blog section#intro {
  padding-bottom: calc(var(--margin) * 1.75);
  border-bottom: solid var(--border-width-thin) var(--content-background-middle);
}

#layout-single.layout-blog .meta {
  border-left: solid var(--border-width) var(--content-background-middle);
  padding: 0 0 0 1em;
}

#layout-section.layout-blog .post .summary,
#layout-single.layout-blog #meta + p {
  margin-top: calc(var(--margin) / 2);
}
