<section class="gallery-items-container">
    {{ with .Params.images }}
      {{ range . }}
      <figure class="gallery-item">
          <img class="popup" alt=" {{ .alt }}" src="{{ .src | absURL }}" style="cursor: pointer;"/>
        <figcaption>
          <div class="figcaption-group">
            <h6>{{ .title }}</h6>
            <p class="description">{{ .desc }}</p>
          </div>
          <div class="figcaption-group">
            {{ with .loc }}
              <a title="Location" class="icon" target="_blank" href="{{ . }}"><span class="material-icons">location_on</span></a>
            {{ end }}
            <a title="Download" class="icon" href="{{ .src | absURL }}" download="{{ .src | .File.LogicalName }}"><span class="material-icons">download</span></a>
          </div>
        </figcaption>
      </figure>
      {{ end }}
    {{ end }}
</section>
