{{ $.Scratch.Set "counter" 0 }}
{{ $gallery_root := .Site.Params.gallery_root | absURL }}

{{ $total := (len .Params.images) }}
<section class="gallery-items-container not-selectable">
      {{ range .Params.images }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{ $root_src := (printf "%s%s%s" $gallery_root "/" .src ) }}
        <figure class="gallery-item" id="item-{{$.Scratch.Get "counter"}}" data-item="{{$.Scratch.Get "counter"}}" data-total="{{$total}}">
            <img class="popup preload" alt="{{ .alt }}" data-full="{{$root_src}}" src="{{ if .thumb }}{{$gallery_root}}/{{ .thumb }}{{else}}{{$gallery_root}}/{{ .src }}{{end}}" style="cursor: pointer;"/>
          <figcaption>
            <div class="figcaption-group title-group">
              <h6>{{ .title }}</h6>
              <div class="icon-group">
              {{with .exif}}
              <a title="Info: {{ . | jsonify }}" class="icon info" style="cursor: pointer;"><span class="material-icons">info</span></a>
              {{end}}
              {{ with .loc }}
              <a title="Location: {{.}}" class="icon location" target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ . }}"><span class="material-icons">location_on</span></a>
              {{ else }}
              <span class="location" style="display: none;"></span>
              {{ end }}
              <a title="Download" class="icon download" href="{{ $root_src | absURL }}" download="{{ $root_src | .File.LogicalName }}"><span class="material-icons">download</span></a>
              </div>
            </div>
            <div class="figcaption-group">
              <p class="description">{{ .desc }}</p>
            </div>
          </figcaption>
        </figure>
      {{ end }}
</section>
