<style type="text/css" media="print">
  @page {
    size: landscape;
  }
</style>
<div class="modal">
  <div class="modal-body">
    <figure class="modal-figure">
      <img alt="" class="to-popup not-selectable preload" />
      <figcaption>
        <div class="figcaption-group meta">
          <h6 class="modal-title"></h6>
          <p class="modal-description description web"></p>
        </div>
        <div class="figcaption-group counter-control web not-selectable">
          <a title="Previous photo" class="not-selectable navicon icon modal-prev web"><span class="material-icons">arrow_back_ios_new</span></a>
          <p class="web modal-description counter description"><span class="modal-no"></span><span class="separator">/</span><span class="modal-counter"></span></p>
          <a title="Next photo" class="not-selectable navicon icon modal-next web"><span class="material-icons">arrow_forward_ios</span></a>
        </div>
        <div class="figcaption-group operations web not-selectable">
          <a title="Info" class="icon modal-info web"><span class="material-icons">info</span></a>
          <a title="Location" target="_blank" class="web icon modal-location" style="display: none" download=""><span class="material-icons">location_on</span></a>
          <a title="Download" class="icon modal-download web" download=""><span class="material-icons">download</span></a>
          <a class="icon modal-print web" title='{{ i18n "print_current_page" }}' onClick="window.print()"><span class="material-icons">print</span></a>
          <a title="Close" class="icon modal-close web"><span class="material-icons">close</span></a>
        </div>
        </div>
      </figcaption>
    </figure>
  </div>
</div>