<div class="modal-exif web" style="display: none">
  <div class="modal-exif-body">
    <div class="modal-exif-content">
      <a class="icon modal-exif-info-icon"
        ><span class="material-icons">info</span></a
      >
      <ul class="modal-exif-metadata-unordered" style="display: none"></ul>
      <ul class="modal-exif-metadata"></ul>
    </div>
    <a title="Close" class="icon modal-exif-close web" style="cursor: pointer">
      <span class="material-icons">close</span></a
    >
  </div>
</div>
