<div class="modal">
  <div class="modal-body">
    <figure class="modal-figure">
      <img alt="" class="to-popup" />
      <figcaption class="modal-figcaption">
        <h6 class="modal-title"></h6>
        <p class="modal-description"></p>
      </figcaption>
    </figure>

    <div class="icon-group">
      <a title="Download" class="icon modal-download" download=""
        ><span class="material-icons">download</span></a
      >
      <a
        title="Location"
        target="_blank"
        class="icon modal-location"
        style="display: none;"
        download=""
        ><span class="material-icons">location_on</span></a
      >
      <a title="Close" class="icon modal-close"
        ><span class="material-icons">close</span></a
      >
    </div>
  </div>
</div>
