<div class="hamburger-wrapper header-button web">
  <div class="hamburger">
    <label class='hamburger-container' for="menu-toggle">
      <input id="menu-toggle" type="checkbox">
      <span class="material-icons">menu</span>
      <nav id="nav-hamburger">
        <ul class="nav-hamburger-items">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
              <li class="nav-hamburger-item">
                <a class="nav-hamburger-link animation {{ if eq $currentPage.RelPermalink .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
              </li>
          {{ end }}
        </ul>
      </div>
    </nav>
    </input>
    </label>
  </div>
</div>
