<header class="not-selectable" id="navbar">
  <div class="header-items-wrapper">
    <div class="title-nav-wrapper">
      <div class="site-title-wrapper">
        <a class="site-title animation" href="{{ .Site.BaseURL }}">{{ .Site.Params.Title }}</a>
      </div>
      <nav id="nav-primary">
        <ul class="nav-primary-items">
          {{ $currentPage := . }} {{ range .Site.Menus.main }}
          <li class="nav-primary-item">
            <a class="nav-primary-link animation {{ if eq $currentPage.RelPermalink .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="header-buttons-wrapper">
      {{ partial "_default/header/i18n/languages" . }}
      {{ partial "_default/header/theme-switch" . }}
      {{ partial "_default/header/hamburger" . }}
    </div>
  </div>
</header>
