<header>
  {{ partial "head" . }}
  <div id="site-title">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Params.Title }} </a>
  </div>
  <nav>
    <div id="nav-primary">
      <ul>
        {{ $current := . }}
        {{ range .Site.Menus.main }}
          <li class="nav-item {{ if eq $current.RelPermalink .URL }}active{{ end }}">
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
    <!-- <div id="nav-secondary">
      <ul>
        {{ range .RegularPages }}
          {{ if (not (in .Permalink "blog")) }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </div> -->
  </nav>
</header>
