:root {
  /* MARGINS */
  --margin: 1.6rem;
  --margin-large: 20rem;

  /* DIMENSIONS */
  --font-size: 1.6rem;
  --line-height: 1.6em;

  /* BORDERS */
  --border-radius: 0.35rem;
  --border-width: 0.5rem;
}

/* LARGE DEVICES */
@media only screen and (max-width: 1200px) {
  :root {
    --font-size: 1.5rem;
    --margin: 1.5rem;
    --margin-large: 15rem;
  }
}
/* LAPTOPS */
@media only screen and (max-width: 992px) {
  :root {
    --font-size: 1.4rem;
    --margin: 1.4rem;
    --margin-large: 10rem;
  }
}
/* TABLETS */
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 1.3rem;
    --margin: 1.3rem;
    --margin-large: 5rem;
  }
}
/* PORTRAIT PHONES */
@media only screen and (max-width: 576px) {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 2.5rem;
  }
  p.huge > img {
    max-width: 315px !important;
  }
}
