/* 4K+ */
:root {
  --margin: 1.6rem;
  --margin-large: 20%;
  --padding-small: 0.15em;
  --padding: 0.25em;
  --padding-main: 10rem;

  --font-size: 1.6rem;
  --line-height: 1.6em;

  --header-height: 4rem;
  --header-height-negative: -4rem;
  --footer-height: 4rem;
  --footer-height-negative: -4rem;
}

/* 4K Vertical */
@media only screen and (max-width: 3840px) {
  :root {
    --padding-main: 5rem;
  }
}

/* 4K Horizontal */
@media only screen and (max-width: 2160px) {
  :root {
    --padding-main: 2.5rem;
  }
}

/* Laptops */
@media only screen and (max-width: 1200px) {
  :root {
    --padding-main: 2.5rem;
  }
}

/* Larger than small laptops: Float side-menu and on-this-page to side-margins */
@media only screen and (min-width: 992px) {
  /* On this page */
  .on-this-page-wrapper {
    position: fixed;
    width: calc(var(--margin-large) * 0.9);
    top: 5.75rem;
    right: 0;
    bottom: 5.75rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  /* Remove ugly Windows scrollbars */
  .on-this-page-wrapper::-webkit-scrollbar {
    display: none;
  }
  #on-this-page {
    margin-right: var(--padding-main);
    padding-left: 1rem;
    border-left: solid var(--border-width-thin) var(--content-background-middle);
    max-width: 16rem;
  }
  /* Show level-1 link (h1) for non-mobile */
  #on-this-page .on-this-page-caption-dynamic {
    display: unset;
    display: block;
  }
  /* Hide caption for non-mobile */
  #on-this-page .on-this-page-caption-static {
    display: none;
  }
  /* Style caption */
  .on-this-page-caption {
    font-size: 0.9rem;
  }
  /* Show level-2 links (H2) */
  #on-this-page li > ul {
    display: unset;
  }
  /* Style list items/links */
  #on-this-page a,
  #on-this-page li {
    font-size: 0.7rem;
    display: block;
  }
  #on-this-page a {
    padding: 0 0.5rem;
  }

  /* Side menu */
  .side-menu-wrapper {
    position: fixed;
    width: calc(var(--margin-large) * 0.9);
    top: 5.75rem;
    left: 0;
    bottom: 5.75rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  /* Remove ugly Windows scrollbars */
  .side-menu-wrapper::-webkit-scrollbar {
    display: none;
  }
  #side-menu {
    margin-left: var(--padding-main);
    padding-right: 1rem;
    border-right: solid var(--border-width-thin)
      var(--content-background-middle);
  }
  #side-menu > ul {
    max-width: 16rem;
  }
  /* Style caption */
  #side-menu .side-menu-caption {
    font-size: 0.9rem;
  }
  /* Style items/links */
  #side-menu a,
  #side-menu li {
    font-size: 0.7rem;
  }
  #side-menu a {
    padding: 0 0.5rem;
  }
}

/* Tablets */
@media only screen and (max-width: 992px) {
  :root {
    --margin-large: 2.5rem;
  }
  /* Hide on this page for home/index */
  #layout-home .on-this-page-wrapper {
    display: none;
  }
  /* Hide side menu */
  .side-menu-wrapper {
    display: none;
  }
}

/* Small tablets */
@media only screen and (max-width: 850px) {
  :root {
    --font-size: 1.5rem;
    --margin: 1.5rem;
  }
}
.hamburger-wrapper {
  display: none;
}

/* PORTRAIT PHONES */
@media only screen and (max-width: 576px) {
  :root {
    --font-size: 1.4rem;
    --margin: 1.4rem;
    --margin-large: 1.5rem;
    --padding-main: 1.5rem;
  }
  p.huge > img {
    max-width: 300px !important;
  }
  #layout-section .subpage {
    width: 100%;
  }
  #nav-primary {
    display: none;
  }
  .hamburger-wrapper {
    display: unset;
  }
}

/* PRINT */
@media only print {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 0rem;
  }
}
