#layout-archive #archive-year {
  margin-top: var(--margin);
}

#layout-archive #archive-list-item {
  list-style: none;
  margin-left: 0;
  margin-top: 0.4em;
}

#layout-archive #archive-list-item time {
  color: var(--content-text-middle);
}

#layout-archive #archive-list-item a {
  margin-left: 0.2em;
}
