.content .codeblock {
  break-inside: avoid;
  width: auto;
  margin-top: var(--margin);
  background-color: var(--content-background-dark);
  border-radius: var(--border-radius);
  position: relative;
}

/* Add code lg caption */
.content .code-lg-container {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: var(--margin);
  background-color: var(--content-background-dark);
  color: var(--layout-text) !important;
}
.content .code-lg,
.content .copy-code-button {
  font-variant: small-caps;
  padding: var(--padding-small) 0.5rem;
  font-size: 0.8rem;
  color: var(--layout-text) !important;
  font-weight: 600;
}

/* Add copy button */
.content .copy-code-button {
  border: transparent;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-clip: border-box;
  position: absolute;
  top: 0;
  right: 0;
}
.content .copy-code-button:hover,
.content .copy-code-button:active {
  border: transparent;
  background-color: #e0e0e04d;
  cursor: pointer;
}

/* Style pre wrapper */
.content pre {
  padding: 0;
  display: block;
  width: fit-content;
  overscroll-behavior: none;
}
/* Always expand codeblocks for printed media */
@media screen {
  .content pre {
    max-height: 70vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    width: 100%;
  }
}
/* Fix background color for mobile */
.highlight pre {
  background-color: var(--content-background-dark) !important;
}

/* Style code */
.content pre > code {
  white-space: pre-wrap;
  padding: calc(var(--margin) + var(--margin) / 4) var(--margin)
    calc(var(--margin) + var(--margin) / 4);
  display: block;
  line-height: 1.2em;
}

.content .highlight pre > code {
  padding: calc(var(--margin) / 4) var(--margin)
    calc(var(--margin) + var(--margin) / 4);
}

.content code {
  word-wrap: break-all;
  display: inline;
  background-color: var(--content-background-dark);
  color: var(--layout-text);
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  padding: 0 0.25rem;
}
.content code * {
  color: var(--layout-text);
  font-size: 0.8rem;
}

/* Overwrite default text-selection */
.content code *::selection {
  background-color: #e0e0e04d;
  color: inherit;
}
