.content code {
  word-wrap: break-word;
  display: inline;
  width: auto;
  padding: 0 0.25rem;
  background-color: var(--content-background-dark);
  color: var(--layout-text);
  border-radius: var(--border-radius);
  font-size: 0.8rem;
}
.content code * {
  color: var(--layout-text);
  font-size: 0.8rem;
}

.content pre {
  margin-top: var(--margin);
  padding: 0;
  display: block;
  width: fit-content;
  border-radius: var(--border-radius);
}

@media screen {
  .content pre {
    max-height: 70vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    width: 100%;
  }
}
.content pre > code {
  white-space: pre-wrap;
  padding: 1rem;
  display: block;
  line-height: 1.2em;
}

.content code *::selection {
  background-color: #e0e0e04d;
  color: inherit;
}

.content .code-lg-container {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  background-color: var(--content-background-dark);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  /* border-bottom: solid var(--border-width-thin) var(--content-background-middle); */
}

.content .code-lg {
  font-variant: small-caps;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.8rem;
  color: var(--layout-text);
  font-weight: 600;
}

.content .code-lg-container + .highlight > pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.content .code-lg-container + .highlight > pre > code {
  padding-top: 0;
}
