/* Set headings sizes */
#content h1 {
  font-size: 2rem;
}
#content h2 {
  font-size: 1.6rem;
}
#content h3 {
  font-size: 1.4rem;
}
#content h4 {
  font-size: 1.2rem;
}
#content h5 {
  font-size: 1.1rem;
}
#content h6 {
  font-size: 1rem;
}

/* Set headings font-weight */
#content h1,
#content h2 {
  font-weight: 700;
  text-wrap: balance;
}
#content h3,
#content h4,
#content h5,
#content h6 {
  font-weight: 600;
  text-wrap: balance;
}

/* Fix anchors hidden behind navbar */
#content h1[id],
#content h2[id],
#content h3[id],
#content h4[id],
#content h5[id],
#content h6[id] {
  padding-top: var(--header-height);
  margin-top: calc(var(--header-height-negative) + 1.6em);
}

/* Inherit headings sizes in child elements */
#content h1 *,
#content h2 *,
#content h3 *,
#content h4 *,
#content h5 *,
#content h6 * {
  font-size: inherit;
}

/* Style heading links # */
#content article#content a.heading-link {
  color: transparent;
  text-decoration: none;
  border: none;
}
/* Show heading links # only on hover */
#content h1 a.heading-link,
#content h2 a.heading-link,
#content h3 a.heading-link,
#content h4 a.heading-link,
#content h5 a.heading-link,
#content h6 a.heading-link,
#content h1 a.heading-link,
#content h2 a.heading-link,
#content h3 a.heading-link,
#content h4 a.heading-link,
#content h5 a.heading-link,
#content h6 a.heading-link {
  color: transparent;
  border: none;
}
#content h1:hover a.heading-link,
#content h2:hover a.heading-link,
#content h3:hover a.heading-link,
#content h4:hover a.heading-link,
#content h5:hover a.heading-link,
#content h6:hover a.heading-link,
#content h1:active a.heading-link,
#content h2:active a.heading-link,
#content h3:active a.heading-link,
#content h4:active a.heading-link,
#content h5:active a.heading-link,
#content h6:active a.heading-link {
  color: var(--content-background-middle);
  background-color: transparent;
}
#content h1 a.heading-link:hover,
#content h2:hover a.heading-link:hover,
#content h3:hover a.heading-link:hover,
#content h4:hover a.heading-link:hover,
#content h5:hover a.heading-link:hover,
#content h6:hover a.heading-link:hover,
#content h2:active a.heading-link:active,
#content h3:active a.heading-link:active,
#content h4:active a.heading-link:active,
#content h5:active a.heading-link:active,
#content h6:active a.heading-link:active {
  color: var(--content-text-dark);
}
