#content img {
  overflow: auto;
  padding: 0;
  display: block;
  border-radius: var(--border-radius);
}

/* Add classes for manipulating images position */
#content p.center {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
#content p.left {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}
#content p.right {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

/* Add classes for manipulating images size */
#content p.tiny > img {
  width: 10rem;
}
#content p.small > img {
  width: 15rem;
}
#content p.medium > img {
  width: 20rem;
}
#content p.large > img {
  width: 25rem;
}
#content p.huge > img {
  width: 30rem;
}
#content p.three-fourth > img {
  width: 75%;
}
#content p.half > img {
  width: 50%;
}
#content p.quarter > img {
  width: 25%;
}

#content p > img {
  max-width: 100%;
}

#content p.border > img {
  border: solid var(--border-width-thin) var(--content-background-middle);
}

#content p > img {
  margin-top: var(--margin);
  padding-top: 0;
}
