.content img {
  overflow: auto;
  padding: 0;
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius);
}

/* Add classes for manipulating images position */
.content p.center {
  display: flex;
  justify-content: center;
}
.content p.left {
  display: flex;
  justify-content: flex-start;
}
.content p.right {
  display: flex;
  justify-content: flex-end;
}

/* Add classes for manipulating images size */
.content p.tiny > img {
  max-width: 10rem;
}
.content p.small > img {
  max-width: 15rem;
}
.content p.medium > img {
  max-width: 20rem;
}
.content p.large > img {
  max-width: 25rem;
}
.content p.huge > img {
  max-width: 30rem;
}
.content p.three-fourth > img {
  max-width: 75%;
}
.content p.half > img {
  max-width: 50%;
}
.content p.quarter > img {
  max-width: 25%;
}

.content p.border > img {
  border: solid var(--border-width-thin) var(--content-background-middle);
}
