.content a {
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
  border-bottom: solid calc(var(--border-width-thin) * 0.5)
    var(--content-text-dark);
}
.content a:hover,
.content a:active {
  border-bottom: solid var(--border-width-thin) var(--content-text-dark);
}
