#content a {
  text-decoration: none;
  font-weight: 600;
  border-bottom: solid calc(var(--border-width-thin) * 0.75)
    var(--content-background-middle);
}
#content a:hover,
#content a:active {
  border-color: var(--content-text-dark);
}
