/* Add top margin for paragraphs */
#content p {
  margin: var(--margin) 0 0 0;
  display: block;
}

/* Reduce top margin for paragraphs that directly follow headings */
#content h1 + p,
#content h2 + p,
#content h3 + p,
#content h4 + p,
#content h5 + p,
#content h6 + p {
  margin-top: calc(var(--margin) / 4);
}

/* Remove top-margin for paragraphs in lists */
#content li p {
  margin: 0;
}

#content ul.items + p {
  margin-top: calc(var(--margin) / 2);
}
