#rellinks ul.related-links-list {
  margin: 0 0 0 1rem;
  list-style: none;
}

/* Style related links */
#rellinks li.related-link {
  margin: 0.25rem 0 0 0;
}
#rellinks li.related-link a {
  font-weight: normal;
  text-decoration: none;
  border-radius: var(--border-radius);
  border-color: transparent;
  padding: 0 var(--padding);
}
#rellinks li.related-link a::after {
  content: " »";
}
#rellinks li.related-link a:hover,
#rellinks li.related-link a:active {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
