/* Invert selected text */
*::selection {
  background-color: var(--layout-text);
  color: var(--layout-background);
}
main *::selection {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
