/* Invert selected text */
#content *::selection {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

#content code::selection {
  background-color: var(--content-text-light);
  color: var(--content-text-dark);
}
