/* Style regular tables */
.content table {
  margin-top: var(--margin);
  table-layout: auto;
  border-collapse: collapse;
  border: none;
  width: 100%;
}
.content td,
.content tr,
.content th {
  padding: 0.5em;
}
.content th,
.content th * {
  font-weight: bold;
  color: var(--layout-text);
  background-color: var(--content-background-dark);
}
.content tr:nth-child(odd) > td {
  background-color: transparent;
}
.content tr:nth-child(even) > td {
  background-color: var(--content-background-middle);
}

/* Add a cv class for special kind of tables */
.content table.cv {
  border: none;
  width: 100%;
  margin-top: var(--margin);
  display: block;
}
.content table.cv thead {
  display: none;
}
.content table.cv tr > td {
  background-color: transparent;
  vertical-align: top;
}
.content table.cv tr > td:nth-child(1) {
  padding: 0.5rem 1.6rem 0.5rem 2rem;
}
.content table.cv tr > td:nth-child(2) {
  border-left: solid var(--border-width) var(--content-background-middle);
  padding: 0.5rem 1.6rem;
}
.content table.cv td {
  color: var(--content-text-dark);
}
.content table.cv td strong {
  color: var(--content-text-dark);
}
