{{ if eq .Parent.Permalink .Site.BaseURL}}
{{ else }}
<aside class="side-menu-wrapper not-selectable web">
  <nav id="side-menu">
    <ul>
      <li>
        <a title="{{ with .Parent.Params.description }}{{ . }}{{ else }}{{ .Parent.Summary | truncate 150 }}{{ end }}" href="{{ .Parent.Permalink }}"class="side-menu-caption animation">{{ .Parent.Title }}</a>
        <ul>
          {{ $currentPage := . }}
          {{ range .CurrentSection.Pages }}
          <li><a class="side-menu-link animation {{ if eq $currentPage.Permalink .Permalink }}active{{ end }}" title="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary | truncate 150 }}{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
       </li>
    </ul>
  </nav>
</aside>
{{ end }}