<header id="navbar" class="not-selectable">
  <div id="header-top">
    <div class="logo-nav-primary">
    <div id="site-title">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Params.Title }}</a>
    </div>
    <nav id="nav-primary">
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
              <li class="nav-item">
                <a class="nav-link {{ if eq $currentPage.RelPermalink .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
              </li>
          {{ end }}
        </ul>
      </div>
    </nav>
    {{ partial "layout/theme-switch" . }}
  </div>
</header>
