#layout-blog .posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  row-gap: var(--margin);
  margin-top: var(--margin);
}

/* Make more space between articles */
#layout-blog .post {
  width: 100%;
  background-color: var(--content-background-middle);
  border-radius: var(--border-radius);
  background-clip: border-box;
  padding: var(--margin);
}

/* Hide "Blogs" */
#layout-blog h1.section-title {
  display: none;
}

/* Style headings-links*/
#layout-blog h2.ref {
  font-size: 2rem;
  margin-top: 0;
}
#layout-blog h2.ref > a {
  color: var(--content-text-dark);
  text-decoration: none;
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
}
#layout-blog h2.ref > a:hover,
#layout-blog h2.ref > a:active {
  text-decoration: none;
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

/* Summary */
#layout-blog .post .summary,
#layout-single .meta + p {
  margin-top: calc(var(--margin) / 2);
}

#layout-blog .summary a.read-more {
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  font-size: 1rem;
  padding: 0 var(--padding-small);
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
}
#layout-blog a.read-more:hover,
#layout-blog a.read-more:active,
#layout-blog a.read-more:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

#layout-blog .description,
#layout-blog .description-image,
#layout-single .description,
#layout-single .description-image {
  margin-top: calc(var(--margin) / 2);
}

#layout-blog .description-image,
#layout-single .description-image {
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
}

.read-more-container {
  display: flex;
  justify-content: right;
  margin-top: calc(var(--margin) / 4);
}

#layout-single section.introduction {
  padding-bottom: calc(var(--margin) * 1.75);
  border-bottom: solid var(--border-width-thin) var(--content-background-middle);
}
