#layout-single-gallery .gallery-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--margin);
  margin-top: var(--margin);
}

#layout-single-gallery .gallery-items-container p,
#layout-single-gallery .gallery-items-container figure,
#layout-single-gallery .gallery-items-container p > a > img {
  width: calc(50% - var(--margin) / 2);
  border: none;
  margin: 0;
  padding: 0;
}

#layout-single-gallery .gallery-items-container p > img,
#layout-single-gallery .gallery-items-container figure > img {
}
