#layout-single-gallery .gallery-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  width: 100%;
  gap: calc(var(--margin) / 2);
  margin-top: var(--margin);
}

#layout-single-gallery .gallery-items-container figure {
  width: calc(50% - var(--margin) / 2);
}

#layout-single-gallery .gallery-items-container figure img {
  width: 100%;
}
