/* Main layout */
#layout-gallery .gallery-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: calc(var(--margin) / 2);
  margin-top: var(--margin);
}
#layout-gallery .gallery-item {
  flex: calc(50% - var(--margin) / 4);
  position: relative;
}

#layout-gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: unset;
}

/* Style headings */
#layout-gallery .gallery-item .gallery-item-title {
  margin: var(--padding) 0 0 0;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: stretch;
}

/* Style descriptions */
#layout-gallery figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 calc(var(--margin) / 1.5) calc(var(--margin) / 2);
  background-color: #38383875;
}
#layout-gallery .gallery-item .description {
  font-size: 0.8rem;
  color: var(--layout-text);
  margin-top: 0;
}

#layout-gallery .gallery-item * {
  text-shadow: var(--text-shadow);
  color: var(--layout-text);
}
