#layout-section .subpages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--margin);
  margin-top: var(--margin);
}
#layout-section .subpage {
  width: calc(50% - var(--margin) / 2);
  background-color: var(--content-background-middle);
  border-radius: var(--border-radius);
  background-clip: border-box;
  padding: var(--margin);
}

#layout-section .material-icons {
  font-size: 1.5rem;
  padding-right: 0.16em;
}

#layout-section .subpage-heading {
  margin-top: 0;
  font-size: 1.2rem;
  display: inline-block;
}

/* Style links */
#layout-section a.subpage-ref {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: stretch;
  border: none;
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
}

#layout-section a.subpage-ref span.material-icons {
  font-size: 1.6em;
}

#layout-section a.subpage-ref:hover,
#layout-section a.subpage-ref:active,
#layout-section a.subpage-ref:focus {
  background-color: var(--content-text-dark);
}
#layout-section a.subpage-ref:hover span,
#layout-section a.subpage-ref:active span,
#layout-section a.subpage-ref:focus span {
  color: var(--content-text-light);
}

#layout-section .description {
  margin-top: calc(var(--margin) / 4);
}

#layout-section .subpage .description {
  font-size: 0.8rem;
  color: var(--content-text-middle);
}

#layout-section .description-image {
  margin-top: calc(var(--margin) / 2);
  max-width: 100%;
}

#layout-section .subpage.gallery .subpage-heading {
  margin-top: calc(var(--margin) / 2);
}

#layout-section .subpage.gallery .description-image {
  margin: 0;
}

#layout-section .subpage.gallery .description {
  margin: 0;
}
