/* Make more space between articles */
#layout-blog .post {
  margin-top: calc(var(--margin) * 2);
}
#layout-blog .post:first-of-type {
  margin-top: 0;
  border: none;
  padding-top: 0;
}

/* Hide "Blogs" */
#layout-blog h1.section-title {
  display: none;
}

/* Divide posts */
#layout-blog .post {
  margin-top: calc(var(--margin) * 1.25);
  padding-top: calc(var(--margin) * 0.75);
  border-top: solid var(--border-width-thin) var(--content-background-middle);
}

/* Style headings-links*/
#layout-blog h2.ref {
  font-size: 2rem;
  margin-top: 0;
}
#layout-blog h2.ref > a {
  color: var(--content-text-dark);
  text-decoration: none;
  border: none;
}
#layout-blog h2.ref > a:hover,
#layout-blog h2.ref > a:active,
#layout-blog h2.ref > a:focus {
  text-decoration: none;
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

/* Summary */
#layout-blog .post .summary,
#layout-single .meta + p {
  margin-top: calc(var(--margin) / 2);
}

#layout-blog .summary a.read-more {
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  border: none;
}
#layout-blog a.read-more:hover,
#layout-blog a.read-more:active,
#layout-blog a.read-more:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
