/* Make more space between articles */
#layout-blog section {
  margin-top: calc(var(--margin) * 2);
}
#layout-blog section:first-of-type {
  margin-top: var(--margin);
}

/* Hide "Blogs" */
#layout-blog h1.section-title {
  display: none;
}

#layout-blog h2.ref {
  font-size: 2rem;
}

/* Style headings-links*/
#layout-blog h2.ref > a {
  color: var(--content-text-dark);
  text-decoration: none;
  border: none;
}
#layout-blog h2.ref > a:hover,
#layout-blog h2.ref > a:active,
#layout-blog h2.ref > a:focus {
  text-decoration: none;
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

/* Summary */
.post .summary {
  margin-top: calc(var(--margin) / 4);
}
.post .summary a {
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  border: none;
}
.post .summary a:hover,
.post .summary a:active,
.post .summary a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
