#layout-section > article:first-child {
  margin-top: 0;
}
/* Move gutter items to the left */
#layout-section .top-gutter {
  justify-content: flex-start;
}

#layout-section .description {
  font-size: 0.8rem;
  color: var(--content-text-middle);
}

/* Style links */
#layout-section a.subpage-ref {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: bold;
  border: none;
}
#layout-section a.subpage-ref::after {
  content: " »";
}
#layout-section a.subpage-ref:hover,
#layout-section a.subpage-ref:active,
#layout-section a.subpage-ref:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

#layout-section h2 {
  margin-top: 0;
}

.subpages {
  margin-top: var(--margin);
  column-count: 2;
  column-gap: calc(var(--margin) * 1.5);
}

.subpage {
  break-inside: avoid;
}

.subpage + .subpage {
  margin-top: calc(var(--margin) * 0.25);
}
