.content code {
  word-wrap: break-word;
  display: inline;
  width: auto;
  padding: 0 0.25rem;
  background-color: var(--content-background-dark);
  color: var(--layout-text);
  border-radius: var(--border-radius);
  font-size: 0.8rem;
}
.content code * {
  color: var(--layout-text);
  font-size: 0.8rem;
}

.content pre {
  margin: var(--margin) 0;
  padding: 0;
  display: block;
  width: fit-content;
  border-radius: var(--border-radius);
}

@media screen {
  .content pre {
    max-height: 70vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    width: 100%;
  }
}
.content pre > code {
  white-space: pre-wrap;
  padding: 1rem;
  display: block;
  line-height: 1.2em;
}

.content code *::selection {
  background-color: #e0e0e04d;
  color: inherit;
}
