.content li {
  margin: 0.8rem 0 0 2rem;
}

/* Bold ordered list numbers */
.content ol > li::marker {
  font-weight: bold;
}

/* Add a class for pill-shaped list items */
.content ul.items {
  display: flex;
  flex-wrap: wrap;
  margin: 0.8rem 0 0 0;
  padding: 0;
}
.content ul.items > li {
  list-style: none;
  padding: 0.25em 0.5em;
  margin: 0rem 0.8rem 0.8rem 0;
  background-color: var(--content-background-middle);
  color: var(--content-text-dark);
  border-radius: var(--border-radius);
  width: auto;
  text-align: center;
  vertical-align: middle;
  display: inline;
  text-decoration: none;
  font-size: 0.8rem;
}
.content ul.items * {
  border: none;
  text-decoration: inherit;
  font-weight: inherit;
}

/* Definition list */
.content dl {
  display: block;
  margin: 1rem 1rem;
}
.content dd + dt {
  margin-top: 1rem;
}
.content dt,
.content dd {
  border-left: solid var(--border-width) var(--content-background-middle);
  padding: 0 0 0 0.5rem;
}
.content dt,
.content dt * {
  font-weight: bold;
}
