@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html {
  font-size: calc(0.625 * var(--font-size));
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: var(--line-height);
  color: var(--text-dark);
  text-align: justify;
}

/* Monospace */
code,
code *,
pre,
pre * {
  font-family: "Source Code Pro", monospace;
}

/* EXTENDED FORMATTING: Font size */
.content .text_small {
  font-size: 0.8rem !important;
}
.content .text_normal {
  font-size: 1.6rem !important;
}
.content .text_large {
  font-size: 1.6rem !important;
}

/* EXTENDED FORMATTING: Colors */
.content .yellow,
.content .yellow * {
  color: var(--yellow) !important;
}
.content .green,
.content .green * {
  color: var(--green) !important;
}
.content .orange,
.content .orange * {
  color: var(--orange) !important;
}
.content .purple,
.content .purple * {
  color: var(--purple) !important;
}
.content .pink,
.content .pink * {
  color: var(--pink) !important;
}
.content .blue,
.content .blue * {
  color: var(--link) !important;
}
