@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html {
  font-size: calc(0.625 * var(--font-size));
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: var(--line-height);
  color: var(--text-dark);
  text-align: justify;
}

/* Monospace */
code,
code *,
pre,
pre * {
  font-family: "Source Code Pro", monospace;
}

/* EXTENDED FORMATTING: Font size */
.text_small {
  font-size: 0.8rem !important;
}
.text_normal {
  font-size: 1.6rem !important;
}
.text_large {
  font-size: 1.6rem !important;
}

/* EXTENDED FORMATTING: Colors */
.yellow,
.yellow * {
  color: var(--yellow) !important;
}
.green,
.green * {
  color: var(--green) !important;
}
.orange,
.orange * {
  color: var(--orange) !important;
}
.purple,
.purple * {
  color: var(--purple) !important;
}
.pink,
.pink * {
  color: var(--pink) !important;
}
.blue,
.blue * {
  color: var(--link) !important;
}
