<footer class="not-selectable">
  <div class="footer-column footer-copyr">
    <div class="footer-year-home-link">
      &copy; {{ now.Year }}
      <a
        class="footer-home-link animation"
        title="Home"
        href="{{ .Site.BaseURL }}">{{ .Site.Params.Title }}</a>
    </div>
  </div>
  <div class="footer-column footer-contact">
    {{ if.Site.Params.email }}
    <a
      target="_blank"
      class="footer-image-link animation"
      href="{{ .Site.Params.email }}"
      title="Email">
      <img
        alt="Email icon"
        class="footer-icon web"
        src="{{ "img/email.svg" |
      relURL }}" /> <img
        alt="Email icon"
        class="footer-icon print"
        src="{{
      "img/email_dark.svg" | relURL }}" />
    </a>
    {{ end }} {{ if.Site.Params.github }}
    <a
      target="_blank"
      class="footer-image-link animation"
      href="{{ .Site.Params.github }}"
      title="GitHub">
      <img
        alt="GitHub icon"
        class="footer-icon web"
        src="{{ "img/github.svg" |
      relURL }}" /> <img
        alt="GitHub icon"
        class="footer-icon print"
        src="{{
      "img/github_dark.svg" | relURL }}" />
    </a>
    {{ end }} {{ if.Site.Params.linkedin }}
    <a
      target="_blank"
      class="footer-image-link animation"
      href="{{ .Site.Params.linkedin }}"
      title="LinkedIn">
      <img
        alt="LinkedIn icon"
        class="footer-icon web"
        src="{{
      "img/linkedin.svg" | relURL }}" /> <img
        alt="LinkedIn icon"
        class="footer-icon print"
        src="{{ "img/linkedin_dark.svg" | relURL }}" />
    </a>
    {{ end }} {{ if.Site.Params.twitter }}
    <a
      target="_blank"
      class="footer-image-link animation"
      href="{{ .Site.Params.twitter }}"
      title="Twitter">
      <img
        alt="Twitter icon"
        class="footer-icon web"
        src="{{ "img/twitter.svg"
      | relURL }}" /> <img
        alt="Twitter icon"
        class="footer-icon print"
        src="{{
      "img/twitter_dark.svg" | relURL }}" />
    </a>
    {{ end }} {{ if.Site.Params.unsplash }}
    <a
      target="_blank"
      class="footer-image-link animation"
      href="{{ .Site.Params.unsplash }}"
      title="Unsplash">
      <img
        alt="Photo icon"
        class="footer-icon web"
        src="{{ "img/photo.svg" |
      relURL }}" /> <img
        alt="Photo icon"
        class="footer-icon print"
        src="{{
      "img/photo_dark.svg" | relURL }}" />
    </a>
    {{ end }}
  </div>
</footer>
<script src="{{ "js/lightbox.js" | relURL }}"></script>