<div id="lightbox" onclick="closeModal()">
    <div id="lightbox-buttons" class="web">
    <a title="Download" class="lightbox-button" id="lightbox-button-download" onclick="downloadFile()">
        <span class="material-icons" style="cursor: pointer;">download</span>
    </a>
    <a title="Close" class="lightbox-button" id="lightbox-button-close" onclick="closeModal()">
        <span class="material-icons" style="cursor: pointer;">close</span>
    </a>
</div>
    <img id="lightbox-img"/>
</div>

<script src="{{ "js/lightbox.js" | relURL }}"></script>