:root {
  --margin: 1.6rem;
  --margin-large: 45rem;

  --font-size: 1.6rem;
  --line-height: 1.6em;
}

/* 4K DEVICES */
@media only screen and (max-width: 2300px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 40rem;
  }
}
@media only screen and (max-width: 2000px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 30rem;
  }
}
@media only screen and (max-width: 1600px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 20rem;
  }
}
@media only screen and (max-width: 1400px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 15rem;
  }
}

/* LARGE DEVICES */
@media only screen and (max-width: 1200px) {
  :root {
    --font-size: 1.5rem;
    --margin: 1.5rem;
    --margin-large: 15rem;
  }
}
/* LAPTOPS */
@media only screen and (max-width: 992px) {
  :root {
    --font-size: 1.4rem;
    --margin: 1.4rem;
    --margin-large: 10rem;
  }
}
/* TABLETS */
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 1.3rem;
    --margin: 1.3rem;
    --margin-large: 5rem;
  }
}
/* PORTRAIT PHONES */
@media only screen and (max-width: 576px) {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 2.5rem;
  }
  p.huge > img {
    max-width: 315px !important;
  }
  .subpages {
    column-count: 1;
  }
}

/* PRINT */
@media only print {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 0rem;
  }
}
