:root {
  --margin: 1.6rem;
  --margin-large: 45rem;

  --font-size: 1.6rem;
  --line-height: 1.6em;
}

/* 4K DEVICES */
@media only screen and (max-width: 2300px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 40rem;
  }
}
@media only screen and (max-width: 2000px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 30rem;
  }
}
@media only screen and (max-width: 1600px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 20rem;
  }
}
@media only screen and (max-width: 1400px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 15rem;
  }
}

/* LARGE DEVICES */
@media only screen and (max-width: 1200px) {
  :root {
    --font-size: 1.5rem;
    --margin: 1.5rem;
    --margin-large: 15rem;
  }
}
/* LAPTOPS */
@media only screen and (max-width: 992px) {
  :root {
    --font-size: 1.4rem;
    --margin: 1.4rem;
    --margin-large: 10rem;
  }
  #layout-home .on-this-page-wrapper {
    display: none;
  }
  .side-menu-wrapper {
    display: none;
  }
}
/* Move to right for not phones */
@media only screen and (min-width: 992px) {
  #on-this-page .on-this-page-caption-dynamic {
    display: unset;
  }
  #on-this-page .on-this-page-caption-static {
    display: none;
  }
  .on-this-page-wrapper {
    position: fixed;
    width: calc(var(--margin-large) * 0.75);
    top: 9.3rem;
    max-height: 68vh;
    overflow: scroll;
    right: calc(var(--margin-large) - calc(var(--margin-large) * 0.8));
    margin: 0;
    padding-left: 1rem;
    border-left: solid var(--border-width-thin) var(--content-background-middle);
  }
  #on-this-page a,
  #on-this-page li {
    font-size: 0.7rem;
  }
  #on-this-page li > ul {
    display: unset;
  }
  #on-this-page .on-this-page-caption {
    font-size: 0.8rem;
  }
  #side-menu .side-menu-caption {
    font-size: 0.8rem;
  }

  .side-menu-wrapper {
    position: fixed;
    width: calc(var(--margin-large) * 0.75);
    top: 9.3rem;
    max-height: 68vh;
    overflow: scroll;
    left: calc(var(--margin-large) - calc(var(--margin-large) * 0.8));
    margin: 0;
    padding-left: 1rem;
    border-right: solid var(--border-width-thin)
      var(--content-background-middle);
  }
  #side-menu a,
  #side-menu li {
    font-size: 0.7rem;
  }
}

/* TABLETS */
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 1.3rem;
    --margin: 1.3rem;
    --margin-large: 5rem;
  }
}
/* PORTRAIT PHONES */
@media only screen and (max-width: 576px) {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 2.5rem;
  }
  p.huge > img {
    max-width: 315px !important;
  }
  .subpages {
    column-count: 1;
  }
}

/* PRINT */
@media only print {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 0rem;
  }
}
