:root {
  /* 4K+ */
  --margin: 1.6rem;
  --margin-large: 45rem;
  --padding-small: 0.15em;
  --padding: 0.25em;
  --padding-main: 2.5rem;

  --font-size: 1.6rem;
  --line-height: 1.6em;
}

/* 4K */
@media only screen and (max-width: 2300px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 40rem;
  }
}
@media only screen and (max-width: 2000px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 30rem;
  }
}
@media only screen and (max-width: 1600px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 20rem;
  }
}
@media only screen and (max-width: 1400px) {
  :root {
    --font-size: 1.6rem;
    --margin: 1.5rem;
    --margin-large: 15rem;
  }
}

/* Laptops */
@media only screen and (max-width: 1200px) {
  :root {
    --font-size: 1.5rem;
    --margin: 1.5rem;
    --margin-large: 15rem;
  }
}
/* Tablets */
@media only screen and (max-width: 992px) {
  :root {
    --font-size: 1.4rem;
    --margin: 1.4rem;
    --margin-large: 10rem;
  }
  /* Hide on this page for home/index */
  #layout-home .on-this-page-wrapper {
    display: none;
  }
  /* Hide side menu */
  .side-menu-wrapper {
    display: none;
  }
}

/* Float side-menu and on-this-page to side-margins */
@media only screen and (min-width: 992px) {
  /* On this page */
  .on-this-page-wrapper {
    position: fixed;
    width: calc(var(--margin-large) * 0.9);
    top: 5.75rem;
    right: 0;
    bottom: 5.75rem;
    overflow: scroll;
    border-bottom: none;
  }
  #on-this-page {
    border-left: solid var(--border-width-thin) var(--content-background-middle);
    margin-right: var(--padding-main);
    padding-left: calc(var(--margin-large) * 0.1);
  }
  /* Show level-1 link (h1) for non-mobile */
  #on-this-page .on-this-page-caption-dynamic {
    display: unset;
    display: block;
  }
  /* Hide caption for non-mobile */
  #on-this-page .on-this-page-caption-static {
    display: none;
  }
  /* Style caption */
  .on-this-page-caption {
    font-size: 0.9rem !important;
  }
  /* Show level-2 links (H2) */
  #on-this-page li > ul {
    display: unset;
  }
  /* Style list items/links */
  #on-this-page a,
  #on-this-page li {
    font-size: 0.7rem;
    display: block;
  }
  #on-this-page a {
    padding: 0 0.5rem;
  }

  /* Side menu */
  .side-menu-wrapper {
    position: fixed;
    width: calc(var(--margin-large) * 0.9);
    top: 5.75rem;
    left: 0;
    bottom: 5.75rem;
    overflow: scroll;
  }
  #side-menu {
    border-right: solid var(--border-width-thin)
      var(--content-background-middle);
    margin-left: var(--padding-main);
    padding-right: calc(var(--margin-large) * 0.1);
  }
  /* Style caption */
  #side-menu .side-menu-caption {
    font-size: 0.9rem;
  }
  /* Style items/links */
  #side-menu a,
  #side-menu li {
    font-size: 0.7rem;
  }
  #side-menu a {
    padding: 0 0.5rem;
  }
}

/* TABLETS */
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 1.3rem;
    --margin: 1.3rem;
    --margin-large: 5rem;
  }
}
.hamburger-wrapper {
  display: none;
}
/* PORTRAIT PHONES */
@media only screen and (max-width: 576px) {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 2.5rem;
  }
  p.huge > img {
    max-width: 300px !important;
  }
  #layout-section .subpage {
    width: 100%;
  }
  #nav-primary {
    display: none;
  }
  .hamburger-wrapper {
    display: unset;
  }
}

/* PRINT */
@media only print {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 0rem;
  }
}
