/* RESET MARGINS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: block;
  margin: calc(var(--font-size) * 5) var(--margin-large) var(--margin)
    var(--margin-large);
}

body {
  margin: 0;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--background-light);
}
