* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
}

main {
  display: block;
  margin: calc(var(--margin) * 1.25) var(--margin-large);
}

body {
  margin: 0;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--content-background-light);
}

article {
  margin-top: var(--margin);
}

#layout-home article {
  margin-top: 0;
}
