#layout-blog article {
  margin-top: calc(var(--margin) * 2);
}

#layout-blog article:first-of-type {
  margin-top: var(--margin);
}

#layout-blog h1.ref > a {
  color: var(--text-dark);
  text-decoration: none;
}

#layout-blog h1.ref > a:hover,
#layout-blog h1.ref > a:active {
  text-decoration: none;
  color: var(--link);
}

#layout-blog .top-gutter {
  justify-content: flex-end;
}

#layout-blog h1.section-title {
  display: none;
}
