.breadcrumbs {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /* border-bottom: 0.1rem solid var(--text-dark); */
}

.breadcrumbs li {
  display: inline;
  white-space: nowrap;
  margin: 0;
}

.breadcrumbs li + li:before {
  content: "/";
  padding: 0.3rem;
}

.breadcrumbs a {
  color: var(--text-dark);
  font-size: 0.8rem;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: var(--blue);
  text-decoration: none;
}
