footer {
  margin-top: auto;
  padding-bottom: 0.8rem;
  position: relative;
  bottom: 0;
  background-color: var(--background-dark);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5rem;
}

footer * {
  color: var(--text-light);
}

div.footer-column {
  display: flex;
}

div.footer-copyr {
  margin-left: var(--margin-large);
  flex-shrink: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

div.footer-copyr a {
  font-size: 1.1rem;
}

div.footer-copyr p {
  margin: 0.8rem 0.8rem 0 0;
}

div.footer-contact {
  margin-right: var(--margin-large);
  flex-wrap: wrap;
  align-items: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

a.footer-image-link {
  line-height: 0;
  margin: 0.8rem 0 0 0.8rem;
}

footer a:hover,
footer a:active,
footer a:focus {
  text-decoration: none;
  color: var(--accent);
}

img.footer-icon {
  height: 1.5rem;
}
