footer {
  margin-top: auto;
  padding-bottom: 0.8rem;
  position: relative;
  bottom: 0;
  background-color: var(--footer-background);
  color: var(--footer-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4rem;
  padding: 0 var(--margin-large) 0.8rem var(--margin-large);
}

footer * {
  color: var(--footer-text);
}

div.footer-column {
  display: flex;
}

div.footer-copyr {
  flex-shrink: 0;
  font-weight: bold;
}

div.footer-copyr p {
  margin: 0.8rem 0.8rem 0 0;
}

div.footer-contact {
  flex-wrap: wrap;
  align-items: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

a.footer-image-link,
a.back-to-top {
  line-height: 0;
  margin: 0.8rem 0 0 0.8rem;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  text-decoration: none;
  color: var(--accent);
}

img.footer-icon {
  height: 1.5rem;
}
