footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  background-color: var(--background-dark);
  color: var(--text-light);
  display: flex;
  justify-content: space-between;
  min-height: calc(var(--font-size) * 3.5);
}

footer * {
  color: var(--text-light);
}

div.footer-column {
  display: flex;
  align-items: center;
}

div.footer-copyr {
  margin-left: var(--margin-layout-large);
  margin-right: 0.5em;
  flex-shrink: 0;
}

div.footer-contact {
  margin-right: var(--margin-layout-large);
  margin-left: 0.5em;
  flex-wrap: wrap;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

a.footer-image-link {
  line-height: 0;
  margin: 0 0 0 1em;
}

img.footer-icon {
  height: var(--footer-icon-height);
}
