.gutter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.top-gutter {
  border-bottom: solid calc(var(--border-width) * 0.2) var(--text-dark);
  justify-content: flex-start;
}

.bottom-gutter {
  margin-top: var(--margin);
  border-top: solid calc(var(--border-width) * 0.2) var(--text-dark);
  justify-content: flex-end;
}

.next-previous-page {
  display: flex;
  flex-direction: row;
}
.next-parent-previous-page a {
  display: block;
}

.previous-page {
  margin-left: 0.5rem;
}

.gutter-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gutter-item li {
  display: inline;
  white-space: nowrap;
  margin: 0;
}

.gutter-item li + li:before {
  font-size: 0.8rem;
}
.taxonomy-refs li + li:before {
  content: " • ";
}
.breadcrumbs li + li:before {
  content: " / ";
  padding-left: 0.2rem;
}

.gutter-item a {
  color: var(--text-dark);
  font-size: 0.8rem;
}

.gutter-item a:hover,
.gutter-item a:active {
  color: var(--link);
  text-decoration: none;
}
