header {
  color: var(--layout-text);
}

#header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--layout-background);
  padding: 0 var(--margin-large) 0 var(--margin-large);
}

#header-bottom {
  margin: 0 var(--margin-large) 0 var(--margin-large);
  background-color: var(--content-background-light);
}

.logo-nav-primary {
  display: flex;
  align-items: center;
}
#nav-primary {
  padding: 1.2rem 1.6rem;
}

#site-title a {
  color: var(--layout-text);
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  white-space: nowrap;
}

#nav-primary ul {
  display: flex;
  flex-wrap: wrap;
}
#nav-primary li {
  list-style: none;
  padding: 0 var(--margin) 0 0;
  flex-shrink: 0;
}
#nav-primary li:last-of-type {
  list-style: none;
  padding: 0;
}
#nav-primary li a {
  color: var(--layout-text);
  text-decoration: none;
  font-weight: 600;
}

#nav-secondary ul {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid calc(var(--border-width) * 0.2) var(--content-text-dark);
}
#nav-secondary li {
  list-style: none;
  padding: 0;
  flex-shrink: 0;
}
#nav-secondary li:last-of-type {
  list-style: none;
  padding: 0;
}
#nav-secondary li a {
  color: var(--text-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.75rem;
}

#nav-secondary li::before {
  content: "• ";
}

/* Indicate active sites */
nav li a::after .active {
  content: ".";
  display: flex;
  justify-content: center;
  color: var(--accent);
  line-height: 0;
  margin-top: -0.25rem;
}

#nav-primary a:hover,
#nav-primary a:active,
#nav-secondary a:hover,
#nav-secondary a:active {
  text-decoration: none;
  color: var(--accent);
}

.theme-switch {
  flex-shrink: 0;
}
