header {
  background-color: var(--background-dark);
  color: var(--text-light);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding: 0 var(--margin-layout-large) 0 var(--margin-layout-large);
  min-height: (--bar-height);
}

header > img.site-logo {
  max-width: 3.5rem;
  max-height: 3.5rem;
  margin-left: -3.5rem;
}

header > a.site-title {
  color: var(--text-light);
  text-decoration: none;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 0 2.5rem 0 0;
  white-space: nowrap;
}

nav > ul {
  display: flex;
  flex-wrap: nowrap;
}

nav li {
  list-style: none;
  padding: 0.5em 1em;
}

nav li a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
}

nav a:hover,
nav a:active,
nav a:focus {
  text-decoration: underline;
}
