header {
  background-color: var(--header-background);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--margin-large) 0 var(--margin-large);
  min-height: 4rem;
}

div.logo-nav-primary {
  display: flex;
  align-items: center;
}

header div#site-title a {
  color: var(--header-text);
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  white-space: nowrap;
  margin-right: 1rem;
}

#nav-primary ul {
  display: flex;
}

#nav-secondary ul {
  display: flex;
}

#nav-primary li {
  list-style: none;
  padding: 0.5rem 0.75rem;
}
#nav-primary li:last-of-type {
  list-style: none;
  padding: 0.5rem 0 0.5rem 0.75rem;
}

#nav-secondary li {
  list-style: none;
  padding: 0.25rem 0.5rem;
}

#nav-primary li a {
  color: var(--header-text);
  text-decoration: none;
  font-weight: 600;
}

#nav-secondary li a {
  color: var(--header-text);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.75rem;
}

/* Indicate active sites */
nav li a::after .active {
  content: ".";
  display: flex;
  justify-content: center;
  color: var(--accent);
  line-height: 0;
  margin-top: -0.25rem;
}

#nav-primary a:hover,
#nav-primary a:active {
  text-decoration: none;
  color: var(--accent);
}
