.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 4rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--background-middle);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  background-color: var(--text-dark);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--background-dark);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
