div.meta-top {
  display: flex;
}

div.datetime {
  font-weight: bold;
}

div.author {
  font-weight: bold;
}

div.meta div.author,
div.meta div.categories {
  margin-left: 0.25rem;
}

div.categories span.category a {
  color: var(--text-dark);
}

div.categories span.category a:hover,
div.categories span.category a:active,
div.categories span.category a:focus {
  color: var(--link);
  text-decoration: none;
}

div.categories span.category::before,
div.author::before {
  content: " • ";
}

div.tags > ul,
div.categories > ul {
  margin-top: 0.5rem;
  font-weight: bold;
}

div.tags a,
div.categories a {
  color: var(--text-dark);
}

div.tags a:hover,
div.tags a:active,
div.tags a:focus,
div.categories a:hover,
div.categories a:active,
div.categories a:focus {
  color: var(--link);
}

div.summary {
  margin-top: calc(var(--margin) * 0.25);
}
