.pagination {
  margin-top: var(--margin);
  border-top: solid calc(var(--border-width) * 0.2) var(--text-dark);
  display: flex;
  justify-content: flex-end;
}

.pagination-counter {
  margin: 0 0.5rem;
}

.pagination > a {
  font-weight: bold;
  text-decoration: none;
}

.pagination > a:hover,
.pagination > a:active {
  color: var(--link);
}
