@media only print {
  @page {
    margin: 3.5rem 5rem;
  }

  .theme-switch-wrapper,
  .top-button-wrapper,
  .gutter,
  .web {
    display: none;
  }
  .print {
    display: block;
  }

  body {
    margin: unset;
    min-width: unset;
    display: unset;
    flex-direction: unset;
    height: unset;
    min-height: unset;
  }

  header {
    border-bottom: solid calc(var(--border-width) * 0.5)
      var(--content-text-dark);
  }

  footer {
    border-top: solid calc(var(--border-width) * 0.5) var(--content-text-dark);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  p,
  ul,
  ol {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
