ul.subpages-list {
  list-style: none;
}

li.subpages-list-item {
  list-style: none;
  margin: 1.2rem 0 0 0;
}

a.subpages-list-link {
  font-size: 1.4rem;
}

#layout-subpages div.description {
  font-size: 0.8rem;
  color: var(--text-middle);
}
