.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 1.6rem;
  position: relative;
  width: 3rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--layout-text); /* light */
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  background-color: var(--content-text-dark); /* dot */
  bottom: 0.25rem;
  content: "";
  height: 1.125rem;
  left: 0.25rem;
  position: absolute;
  width: 1.125rem;
}

input:checked + .slider {
  background-color: var(--content-background-middle); /* dark */
}

input:checked + .slider:before {
  transform: translateX(1.375rem);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
