.top-button {
  right: calc(var(--margin-large) * 0.5);
  background-color: var(--background-medium);
  border-radius: var(--border-radius);
}

.top-button a {
  font-weight: bold;
  text-decoration: none;
}
