div#back-to-top {
  right: calc(var(--margin-large) * 0.5);
  background-color: var(--background-medium);
  border-radius: var(--border-radius);
}

div#back-to-top a {
  font-weight: bold;
  text-decoration: none;
}
