input {
  display: inline-block;
  font-weight: bold;
  border: none;

  font-size: 1.8rem;
  list-style: none;
  padding: 0.25em 0.75em;
  background-color: var(--background-middle);
  color: var(--text-dark);
  border-radius: var(--border-radius);
  width: auto;
  text-align: center;
  display: inline;
  text-decoration: none;

  display: table;
  margin: 6.5rem auto var(--margin-content);
}

input:hover,
input:active,
input:focus {
  color: var(--primary-color);
}
