/* Dark mode */
:root {
  /* COLORS */
  --yellow: #f5bb00;
  --green: #85cb33;
  --orange: #ed6a5a;
  --purple: #7a3bdf;
  --pink: #ef476f;
  --blue: #399cff;

  --accent: #8b6a00;

  --text-dark: #f4f4f4;
  --text-light: #2e2e2e;

  --background-light: #2e2e2e;
  --background-middle: #656565;
  --background-dark: #f4f4f4;
}
