@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

/* General */
html {
  scroll-behavior: smooth;
  font-size: calc(0.625 * var(--font-size));
  margin: 0;
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: var(--line-height);
  color: var(--text-dark);
  text-align: justify;
}

/* Prevent font scaling in landscape (iPhone fix)*/
html {
  -webkit-text-size-adjust: none;
}

/* Monospace */
code,
code *,
pre,
pre * {
  font-family: "Source Code Pro", monospace;
}

/* Logo */
header > a:first-child,
div.footer-copyr > p > a {
  font-family: "Gugi", sans-serif;
}

/* Font size */
.text_small {
  font-size: 0.8rem !important;
}
.text_normal {
  font-size: 1.6rem !important;
}
.text_large {
  font-size: 1.5rem !important;
}

/* Colors */
.yellow {
  color: var(--yellow) !important;
}
.green {
  color: var(--green) !important;
}
.orange {
  color: var(--orange) !important;
}
.purple {
  color: var(--purple) !important;
}
.pink {
  color: var(--pink) !important;
}
.blue {
  color: var(--blue) !important;
}
