{{ define "main" }}
<div id="main-side-menus" class="layout-blog">
  <main id="layout-blog">
    <div class="top-gutter gutter not-selectable">
      <div class="gutter-group">
        {{ partial "layout/gutter/all-posts" . }} {{ partial
        "layout/gutter/taxonomy-refs" . }} {{ partial "layout/gutter/archive" .
        }}
      </div>
    </div>
    <article id="content">
      {{ partial "_index.html" . }}
      <section id="posts">
        {{ range (where .Paginator.Pages "Type" "blog") }} {{ .Render "summary"
        }} {{ end }}
      </section>
    </article>
    <div class="gutter bottom-gutter not-selectable">
      <div class="gutter-group">
        {{ partial "layout/gutter/top" . }} {{ partial "layout/gutter/print" .
        }}
      </div>
      {{ partial "layout/gutter/pagination" . }}
    </div>
  </main>
</div>
{{ end }}
