[data-theme="dark"] {
  --accent: #f5bb00;

  --layout-background: #161616;
  --layout-text: #f4f4f4;
  --layout-text-active: #fff;

  --content-text-dark: #f4f4f4;
  --content-text-middle: #d3d3d3;
  --content-text-light: #040404;
  --content-background-light: #222222;
  --content-background-middle: #383838;
  --content-background-dark: #161616;

  /* Extended font styling via classes in typography.css */
  /* Notes accents */
  --yellow: #f5bb00;
  --green: #85cb33;
  --orange: #ed6a5a;
  --purple: #7a3bdf;
  --pink: #ef476f;
  --blue: #246eb9;
}
