[data-theme="dark"] {
  /* Layout */
  --accent: #f5bb00;
  --link: #55aaff;
  --header-background: #383838;
  --header-text: #f4f4f4;
  --footer-background: #383838;
  --footer-text: #f4f4f4;

  /* Content */
  --code-background: #161616;
  --code-text: #f4f4f4;
  --selection-background: #f4f4f4;
  --selection-text: #222222;
  --table-header-background: #161616;
  --table-header-text: #f4f4f4;

  /* Generic */
  --text-dark: #f4f4f4;
  --text-middle: #464646;
  --text-light: #222222;
  --background-light: #222222;
  --background-middle: #383838;
  --background-dark: #222222;

  /* Extended font styling via classes in typography.css */
  --yellow: #f5bb00;
  --green: #85cb33;
  --orange: #ed6a5a;
  --purple: #7a3bdf;
  --pink: #ef476f;
  --blue: #246eb9;
}
