@media only print {
  :root {
    --accent: #f5bb00;

    --layout-background: transparent;
    --layout-text: #222222;

    --content-text-dark: #222222;
    --content-text-middle: #404040;
    --content-text-light: #f4f4f4;
    --content-background-light: transparent;
    --content-background-middle: #e0e0e0;
    --content-background-dark: #222222;

    /* Extended font styling via classes in typography.css */
    /* Notes accents */
    --yellow: #f5bb00;
    --green: #85cb33;
    --orange: #ed6a5a;
    --purple: #7a3bdf;
    --pink: #ef476f;
    --blue: #246eb9;
  }
}
