{{ define "main" }}
<main id="layout-blog">
  <div class="top-gutter gutter not-selectable">
    {{ partial "layout/gutter/all-posts" . }} {{ partial
    "layout/gutter/taxonomy-refs" . }}
  </div>
  <article class="content">
    {{ partial "_index.html" . }}
    <div class="posts">
     {{ range .Paginator.Pages}} {{ .Render
    "summary" }} {{ end }}
    </div>
  </article>
  <div class="gutter bottom-gutter not-selectable">
    <div class="gutter-group">
      {{ partial "layout/gutter/top-button" . }} {{ partial
      "layout/gutter/print-button" . }}
    </div>
    {{ partial "layout/gutter/pagination" . }}
  </div>
</main>
{{ end }}
