{{ define "main" }}
<main id="layout-blog">
  <div class="top-gutter gutter">
    {{ partial "layout/gutter/back-to-blog" . }} 
    {{ partial "layout/gutter/taxonomy-refs" . }}
  </div>
  <article class="content">
    {{ partial "_index.html" . }} 
    {{ range (.Site.GetPage "section" "blog").Pages}} 
      {{ .Render "summary" }} 
    {{ end }} 
  </article>
  <div class="gutter bottom-gutter">
    <div class="gutter-group">
    {{ partial "layout/gutter/top-button" . }}
    {{ partial "layout/gutter/print-button" . }}
    </div>
    {{ partial "layout/gutter/pagination" . }}
    </div>
</main>
{{ end }}
