{{ define "main" }}
<main id="layout-single">
  <div class="gutter top-gutter">
    {{ partial "layout/gutter/back-to-blog" . }} {{ partial
    "layout/gutter/taxonomy-refs" . }}
  </div>
  <article>
    <h1>{{ .Title }}</h1>
    {{ partial "blog/meta" . }} {{ with .Params.description }}
    <p class="description">{{ . }}</p>
    {{ end }}
    <section class="content">{{ .Content }}</section>
    {{ with .Site.DisqusShortname }}
    <div>{{ template "_internal/disqus.html" . }}</div>
    {{ end }}
  </article>
  <div class="gutter bottom-gutter">
    <div class="gutter-group">
    {{ partial "layout/gutter/top-button" . }}
    {{ partial "layout/gutter/print-button" . }}
    </div>
    {{ partial "layout/gutter/next-prev" . }}
    </div>
</main>
{{ end }}
