{{ define "main" }}
<main id="layout-single">
  <div class="gutter top-gutter not-selectable">
    {{ partial "layout/gutter/all-posts" . }} {{ partial
    "layout/gutter/taxonomy-refs" . }}
  </div>
  {{ partial "layout/navigation/on-this-page" . }}
  <article class="content">
    <h1>{{ .Title }}</h1>
    {{ partial "blog/meta" . }} {{ with .Params.description }}
    <p class="description">{{ . }}</p>
    {{ end }} {{ .Content }} {{ with .Site.DisqusShortname }}
    <div>{{ template "_internal/disqus.html" . }}</div>
    {{ end }}
  </article>
  <div class="gutter bottom-gutter not-selectable">
    <div class="gutter-group">
      {{ partial "layout/gutter/top-button" . }} {{ partial
      "layout/gutter/print-button" . }}
    </div>
    {{ partial "layout/gutter/next-prev-single-page" . }}
  </div>
</main>
{{ end }}
