{{ define "main" }}
<main id="layout-gallery">
  <div class="top-gutter gutter not-selectable">
    {{ partial "layout/gutter/breadcrumbs" . }}
  </div>
  {{ partial "layout/navigation/side-menu" . }}
  <article class="content">
    {{ partial "_index" . }}
    <section class="gallery-items not-selectable">
      {{ range .Pages }} {{ .Render "summary" }} {{ end }}
    </section>
  </article>
  <div class="gutter bottom-gutter not-selectable">
    <div class="gutter-group">
      {{ partial "layout/gutter/top" . }} {{ partial "layout/gutter/print" . }}
    </div>
  </div>
</main>
{{ end }}
