{{ define "main" }}
<div id="main-asides">
  <main id="layout-single" class="layout-gallery-single">
    {{ partial "_default/gutter/gutter-top-single" . }}
    <article id="content">
      <section id="intro">
        <h1>{{ .Title }}</h1>
        {{ with.Params.description }}
        <p id="desc">{{ .| markdownify }}</p>
        {{ end }}
        {{ partial "_default/content/bodytext.html" . }}
      </section>
      {{ partial "gallery/images.html" . }}
      {{ partial "_default/content/related-links" . }}
    </article>
    {{ partial "_default/gutter/gutter-bottom-single" . }}
    {{ partial "gallery/modal.html" . }}
    {{ partial "gallery/modal_exif.html" . }}
    <script src="{{ "js/gallery.js" | relURL }}"></script>
  </main>
</div>
{{ end }}
