{{ $gallery_root := .Site.Params.gallery_root | absURL }}
<section class="subpage gallery-item" onclick="location.href='{{ .Permalink }}';" style="cursor: pointer;">
  {{ with .Params.image }}
  <div class="description-image-container">
    <img class="description-image preload" src="{{$gallery_root}}/{{.}}" />
  </div>
  {{ end }}
  <div class="description-wrapper">
    <h6>{{ .Title }}</span></h6>
    <div class="description-group">
      <p class="description">
      {{ with .Params.description }}
      {{ . | markdownify }} 
      {{ end }}
      </p>
      <p class="counter description">
        {{ with .Params.images }}
           #{{ len . }}
        {{ end }}
      </p>
    </div>
  </div>
</section>
