{{ define "main" }}
<div id="main-side-menus">
  {{ partial "layout/navigation/side-menu" . }}
  <main id="layout-section">
    <div class="top-gutter gutter not-selectable">
      {{ partial "layout/gutter/breadcrumbs" . }}
    </div>
    <article id="content">
      {{ partial "_index" . }}
      <section id="subpages">
        {{ range .Pages }} {{ .Render "summary" }} {{ end }}
      </section>
    </article>
    <div class="gutter bottom-gutter not-selectable">
      <div class="gutter-group">
        {{ partial "layout/gutter/top" . }} {{ partial "layout/gutter/print" .
        }}
      </div>
    </div>
  </main>
</div>
{{ end }}
