{{ define "main" }}
<div id="main-asides">
  {{ $pathElements := split .File.Path "/" }}
  {{ if ne (len $pathElements) 1 }}
  {{ partial "_default/navigation/side-menu-single" . }}
  {{ end }}
  <main id="layout-single">
    {{ if ne (len $pathElements) 1 }}
    {{ partial "_default/gutter/gutter-top-single" . }}
    {{ end }}
    {{ partial "_default/content/content" . }}
    {{ partial "_default/gutter/gutter-bottom-single" . }}
  </main>
  {{ partial "_default/navigation/on-this-page" . }}
</div>
{{ end  }}