<section
  class="subpage"
  onclick="location.href='{{ .Permalink }}';"
  style="cursor: pointer"
>
  <h2 class="subpage-heading">
    {{ with .Params.icon }}<span class="material-icons">{{.}}</span>{{ end
    }}<span class="subpage-heading-title">{{ .Title }}</span>
  </h2>
  <div class="desc">
    {{ with .Params.description }} {{ . | markdownify }} {{ else }} {{ .Summary
    | truncate 160 }} {{ end }}
  </div>
  {{ with .Params.image }}
  <div class="desc-image-container">
    <img class="desc-image" src="{{ . | relURL }}" />
  </div>
  {{ end }}
</section>
