<section class="subpage">
  <h2 class="subpage-heading">
    <a class="subpage-ref animation" href="{{ .Permalink }}"> 
        {{ with .Params.icon }}<span class="material-icons">{{.}}</span>{{ end }}<span>{{ .Title }} »</span></a>
  </h2>
  <div class="description">
    {{ with .Params.description }}
    {{ . | markdownify }} 
    {{ else }} 
    {{ .Summary | truncate 160 }}
    {{ end }}
  </div>
  {{ with .Params.image }}
  <div class="description-image-container">
    <img class="description-image" src="{{ . | relURL }}" />
  </div>
  {{ end }}
</section>
