{{ define "main" }}
<div id="main-asides" class="layout-blog">
  <main id="layout-blog" class="layout-taxonomy">
    {{ partial "_default/gutter/gutter-top-section-blog" . }}
    <article id="content">
      {{ with .Title }}
      <h1 class="taxonomy-name">#{{ . }}</h1>
      {{ end }}
      <div id="posts">
        {{ range sort .Paginator.Pages .Params.weight }} {{ .Render "summary" }}
        {{ end }}
      </div>
    </article>
    {{ partial "_default/gutter/gutter-bottom-section-blog" . }}
  </main>
</div>
{{ end }}
