{{ define "main" }}
<div id="main-side-menus">
  <main id="layout-blog" class="layout-taxonomy">
    <div class="top-gutter gutter not-selectable">
      {{ partial "layout/gutter/breadcrumbs" . }}
      <div class="gutter-group">
        {{ partial "layout/gutter/all-posts" . }} {{ partial
        "layout/gutter/taxonomy-refs" . }} {{ partial "layout/gutter/archive" .
        }}
      </div>
    </div>
    <article id="content">
      {{ with .Title }}
      <h1 class="taxonomy-name">#{{ . }}</h1>
      {{ end }}
      <div id="posts">
        {{ range sort .Paginator.Pages .Params.weight }} {{ .Render "summary" }}
        {{ end }}
      </div>
    </article>
    <div class="gutter bottom-gutter not-selectable">
      <div class="gutter-group">
        {{ partial "layout/gutter/top" . }} {{ partial "layout/gutter/print" .
        }}
      </div>
      {{ partial "layout/gutter/pagination" . }}
    </div>
  </main>
</div>
{{ end }}
