{{ define "main" }}
<div id="main-side-menus">
<main id="layout-terms">
  <div class="top-gutter gutter not-selectable">
    <div class="gutter-group">
      {{ partial "layout/gutter/all-posts" . }} {{ partial "layout/gutter/taxonomy-refs" . }} {{ partial "layout/gutter/archive" . }}
    </div>
</div>
  <article id="content">
    {{ if eq .Title "Tags" }} 
      <h1>{{ i18n "tags" | title }}</h1>
    {{ else if eq .Title "Categories" }}
      <h1>{{ i18n "categories" | title }}</h1>
    {{ else }}
      <h1>{{ .Title}}</h1>
    {{ end }} 
    <section class="terms tags categories tags-wrapper">
      <ul class="tags">
        {{ if eq .Title "Tags" }} 
          {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
            <li class="tag"><a class="animation" href="{{.Permalink}}">#{{.Title}}</a></li>
          {{ end }} 
          {{ else if eq .Title "Categories" }} {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
            <li class="tag"><a class="animation" href="{{.Permalink}}">{{.Title}}</a></li>
          {{ end }} 
        {{ end }}
      </ul>
    </section>
  </article>
  <div class="gutter bottom-gutter not-selectable">
    <div class="gutter-group">
      {{ partial "layout/gutter/top" . }}
      {{ partial "layout/gutter/print" . }}
    </div>
</main>
</div>
{{ end }}
