{{ define "main" }}
<div id="main-asides">
  <main id="layout-archive">
    {{ partial "layout/gutter/gutter-top-section-blog" . }}
    <article id="content">
      <section id="intro">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </section>
      <section id="archive">
        {{ $blog_posts := where .CurrentSection.RegularPages "Type" "blog" }}
        {{ range ($blog_posts.GroupByDate "2006") }} 
        {{ if not (in .Key "0001") }}
        <div class="archive-year">
          <h2>{{ .Key }}</h2>
          <ul class="archive-list">
            {{ range .Pages }}
            <li class="archive-list-item">
              <time>{{ .PublishDate.Format "02 January" }}: </time>
              <a
                class="animation"
                title="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary | truncate 150 }}{{ end }}"
                href="{{ .RelPermalink }}"
                >{{ .Title }}
              </a>
            </li>
            {{end }}
          </ul>
        </div>
        {{ end }}
        {{ end }}
      </section>
    </article>
    {{ partial "layout/gutter/gutter-buttom-section" . }}
  </main>
</div>
{{ end }}
