<article id="content">
  <section id="intro">
    <div id="intro-text">
      <h1>{{ .Title }}</h1>
      {{ with.Params.description }}
      <p id="desc">{{ .| markdownify }}</p>
      {{ end }} {{ if.Params.thumbnail }}
    </div>
    <div id="intro-thumbnail">
      <img
        src="{{ .Params.thumbnail }}"
        onclick="window.open(this.src)"
        style="cursor: pointer"
      />
    </div>
    {{ end }}
  </section>
  {{ partial "_default/content/bodytext.html" . }} {{ partial
  "_default/content/related-links" . }}
</article>
