{{ define "main" }}
<main id="layout-section">
  <div class="top-gutter gutter">
    {{ partial "layout/gutter/subpages" . }}
  </div>
  <article class="content">
    {{ partial "_index" . }}
        {{ range .Paginator.Pages }}
          {{ .Render "summary" }}
        {{ end }}
  </article>
  <div class="gutter bottom-gutter">
  <div class="gutter-group">
  {{ partial "layout/gutter/top-button" . }}
  {{ partial "layout/gutter/print-button" . }}
  </div>
  {{ partial "layout/gutter/pagination" . }}
  </div>
</main>
{{ end }}
