{{ define "main" }}
<main id="layout-section">
  <div class="top-gutter gutter">
    {{ partial "layout/gutter/breadcrumbs" . }}
    {{ partial "layout/gutter/subpages" . }}
  </div>
  <article>
    {{ partial "_index" . }}
    <section>
      <ul class="subpages-list">
        {{ range .Paginator.Pages }}
          {{ .Render "summary" }}
        {{ end }}
      </ul>
    </section>
  </article>
  <div class="gutter bottom-gutter">
  {{ partial "layout/gutter/top-button" . }}
  {{ partial "layout/gutter/pagination" . }}
  </div>
</main>
{{ end }}
