{{ define "main" }}
<main id="layout-single">
  <div class="gutter top-gutter">
    {{ partial "layout/gutter/breadcrumbs" . }}
  </div>
  <article>
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}
    <p class="description">{{ . }}</p>
    {{ end }}
    <section class="content">{{ .Content }}</section>
    {{ partial "layout/related-links" . }}
  </article>
  <div class="gutter bottom-gutter">
    <div class="gutter-group">
    {{ partial "layout/gutter/top-button" . }}
    {{ partial "layout/gutter/print-button" . }}
    </div>
    {{ partial "layout/gutter/next-prev" . }}
    </div>
</main>
{{ end }}
