{{ define "main" }}

<main id="layout-single">
  <div class="gutter top-gutter not-selectable">
    {{ partial "layout/gutter/breadcrumbs" . }}
  </div>
  {{ partial "layout/navigation/on-this-page" . }}
  {{ partial "layout/navigation/side-menu-single" . }}
  <article class="content">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}
    <p class="description">{{ . }}</p>
    {{ end }}
    {{ .Content }}
    {{ partial "layout/related-links" . }}
  </article>
  <div class="gutter bottom-gutter not-selectable">
    <div class="gutter-group">
    {{ partial "layout/gutter/top-button" . }}
    {{ partial "layout/gutter/print-button" . }}
    </div>
    {{ partial "layout/gutter/next-prev" . }}
  </div>
</main>
{{ end }}
