{{ define "main" }}
<main id="layout-subpages">
  <article>
  {{ if or .Title .Content }}
    {{ partial "_index.html" . }}
  {{ end }}
    <section class="_index">
      <ul class="subpages-list">
          {{ range .Paginator.Pages }} 
          <li class="subpages-list-item"><a class="subpages-list-link" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ partial "description.html" . }}</li>
          {{ end }}
      </ul>
    </section>
  </article>
  {{ partial "pagination.html" . }}
</main>
{{ end }}
