{{ define "main" }}
<main id="layout-blog" class="layout-taxonomy">
  <div class="top-gutter gutter">
    {{ partial "layout/gutter/back-to-blog" . }}{{ partial
    "layout/gutter/taxonomy-refs" . }}
  </div>
  <article>
    {{ with .Title }}
    <h1>#{{ . }}</h1>
    {{ end }}
  </article>
  {{ range sort .Paginator.Pages .Params.weight }} 
    {{ .Render "summary" }} 
  {{ end }} 
  <div class="gutter bottom-gutter">
    <div class="gutter-group">
      {{ partial "layout/gutter/top-button" . }}
      {{ partial "layout/gutter/print-button" . }}
    </div>
      {{ partial "layout/gutter/pagination" . }}
  </div>
</main>
{{ end }}
