{{ define "main" }}
<div class="top-gutter gutter not-selectable">
  {{ partial "layout/gutter/back-to-blog" . }}{{ partial
  "layout/gutter/taxonomy-refs" . }}
</div>
<main id="layout-blog" class="layout-taxonomy">
  <article class="content">
    {{ with .Title }}
    <h1>#{{ . }}</h1>
    {{ end }}
  </article>
  {{ range sort .Paginator.Pages .Params.weight }} 
    {{ .Render "summary" }} 
  {{ end }} 
</main>
<div class="gutter bottom-gutter not-selectable">
  <div class="gutter-group">
    {{ partial "layout/gutter/top-button" . }}
    {{ partial "layout/gutter/print-button" . }}
  </div>
    {{ partial "layout/gutter/pagination" . }}
</div>
{{ end }}
