header {
  color: var(--layout-text);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1;
}
header .header-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--layout-background);
  min-height: var(--header-height);
  padding: 0 var(--padding-main);
}
header .title-nav-wrapper {
  display: flex;
  align-items: center;
}

header .header-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: var(--margin);
}

header a.site-title {
  color: var(--layout-text);
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  white-space: nowrap;
}
header #nav-primary {
  padding: 0 1.6rem;
}
header ul.nav-primary-items,
header ul.languages-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin);
}
header li.nav-primary-item,
header li.language-item {
  list-style: none;
  flex-shrink: 0;
}

header li.nav-primary-item:last-of-type {
  list-style: none;
  padding: 0;
}

header li.language-item {
  padding: 0;
}

header a.nav-primary-link,
header a.language-link {
  color: var(--layout-text);
  text-decoration: none;
  font-weight: 700;
  padding: var(--padding-small) var(--padding);
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
}
header a.nav-primary-link:hover,
header a.nav-primary-link:active,
header a.nav-primary-link:focus,
header a.language-link:hover,
header a.language-link:active,
header a.language-link:focus {
  background-color: var(--layout-text);
  color: var(--layout-background);
}
