/* Define column classes */
.content .two_column {
  column-count: 2;
}
.content .three_column {
  column-count: 3;
}
.content .four_column {
  column-count: 4;
}

/* Style column classes */
.content .two_column,
.content .three_column,
.content .four_column {
  column-gap: var(--margin);
}

/* Avoid breaking some elements in columns */
.content .two_column p,
.content .three_column p,
.content .four_column p,
.content .two_column dt,
.content .three_column dt,
.content .four_column dt,
.content .two_column dd,
.content .three_column dd,
.content .four_column dd,
.content .two_column h1,
.content .three_column h1,
.content .four_column h1,
.content .two_column h2,
.content .three_column h2,
.content .four_column h2 {
  break-inside: avoid;
}
