.content .footnotes * {
  font-size: 0.8rem;
}

.content .footnotes li {
  margin: 0.25rem 1rem;
}

.content .footnotes li p {
  margin: 0;
}

.content .footnotes ol {
  margin-top: 0.8rem;
}

.content .footnotes a.footnote-backref {
  color: var(--text-dark);
  text-decoration: none;
}

.content .footnotes a.footnote-backref:active,
.content .footnotes a.footnote-backref:hover {
  color: var(--link);
}
