.content .footnotes * {
  font-size: 0.8rem;
}
.content .footnotes ol {
  margin-top: 0.8rem;
}
.content .footnotes li {
  margin: 0.25rem 1rem;
}

/* Style links */
.content .footnotes a.footnote-backref,
.content a.footnote-ref {
  color: var(--content-text-dark);
  text-decoration: none;
  font-weight: bold;
  border: none;
}
.content .footnotes a.footnote-backref:active,
.content .footnotes a.footnote-backref:hover,
.content .footnotes a.footnote-backref:focus,
.content a.footnote-ref:active,
.content a.footnote-ref:hover,
.content a.footnote-ref:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

/* Fix anchors hidden behind navbar */
.content sup[id] {
  padding-top: 4rem;
  margin-top: -4rem;
}
