main div.footnotes * {
  font-size: 0.8rem;
}

main div.footnotes li {
  margin: 0.25rem 1rem;
}

main div.footnotes li p {
  margin: 0;
}

main div.footnotes ol {
  margin-top: 0.8rem;
}

main div.footnotes a.footnote-backref {
  color: var(--link);
}
