h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}

h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
  font-size: inherit;
}

/*h1,*/
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.75em;
}

a.heading-link {
  color: transparent;
  text-decoration: none;
}

a.heading-link:hover,
a.heading-link:active {
  color: var(--blue);
  text-decoration: none;
}
