main img {
  overflow: auto;
  padding: 0;
  margin-top: var(--margin);
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius);
}

main figcaption {
  font-weight: bold;
  color: var(--text-dark);
}

p.center {
  display: flex;
  justify-content: center;
}
p.left {
  display: flex;
  justify-content: flex-start;
}
p.right {
  display: flex;
  justify-content: flex-end;
}
p.tiny > img {
  max-width: 10rem;
}
p.small > img {
  max-width: 15rem;
}
p.medium > img {
  max-width: 20rem;
}
p.large > img {
  max-width: 25rem;
}
p.huge > img {
  max-width: 30rem;
}
