main img {
  overflow: auto;
  padding: 0;
  margin: 1em 0;
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius);
}

main figcaption {
  font-weight: bold;
  color: var(--text-dark);
}

img.center {
  margin: 1em auto;
  display: block;
}
img.left {
  float: left;
  display: block;
}
img.right {
  float: right;
  display: block;
}
