/* Images */
main img {
  overflow: auto;
  padding: 0;
  margin: var(--margin-content) 0;
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius);
}

img.center {
  margin: var(--margin-content) auto;
  display: block;
}
.left {
  float: left;
  display: block;
}
.right {
  float: right;
  display: block;
}

/* Figures */
main figure {
  margin: 0;
  padding: 0;
}

main figcaption {
  font-weight: bold;
  color: var(--text-dark);
}
