main a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}

a > abbr {
  text-decoration: inherit;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

a:hover > abbr,
a:active > abbr,
a:focus > abbr {
  color: inherit;
}
