.content a {
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  border-bottom: solid var(--border-width-thin) var(--content-text-dark);
}
.content a:hover,
.content a:active,
.content a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
}
