.content .note,
.content .note_warning,
.content .note_caution,
.content .note_tip {
  margin-top: var(--margin);
  padding: 0.5rem 1rem;
  display: block;
  border-left: solid var(--border-width) var(--content-background-dark);
  background-color: var(--content-background-middle);
  border-radius: var(--border-radius);
  width: 100%;
}

/* Set note captions */
.content .note::before,
.content .note_warning::before,
.content .note_caution::before,
.content .note_tip::before {
  white-space: pre;
  font-size: inherit;
  display: inline-block;
  font-weight: bold;
}
.content .note::before {
  content: "NOTE: ";
}
.content .note_warning::before {
  content: "WARNING: ";
}
.content .note_caution::before {
  content: "CAUTION: ";
}
.content .note_tip::before {
  content: "TIP: ";
}

/* Set  notes colors */
.content .note {
  border-color: #6c99bb;
}
.content .note_warning {
  border-color: #e87d3e;
}
.content .note_caution {
  border-color: #b05279;
}
.content .note_tip {
  border-color: #b4d273;
}
