main .note,
main .note_warning,
main .note_caution,
main .note_tip {
  margin-top: var(--margin);
  padding: 0.5rem 1rem;
  display: block;
  border-left: solid 0.5rem var(--background-dark);
  background-color: var(--background-middle);
  border-radius: var(--border-radius);
  width: 100%;
}
main .note::before,
main .note_warning::before,
main .note_caution::before,
main .note_tip::before {
  white-space: pre;
  font-size: inherit;
  display: inline-block;
  font-weight: bold;
}
main .note::before {
  content: "NOTE: ";
}
main .note_warning::before {
  content: "WARNING: ";
}
main .note_caution::before {
  content: "CAUTION: ";
}
main .note_tip::before {
  content: "TIP: ";
}

main .note {
  border-color: #6c99bb;
}
main .note_warning {
  border-color: #e87d3e;
}
main .note_caution {
  border-color: #b05279;
}
main .note_tip {
  border-color: #b4d273;
}
