.content p {
  margin: var(--margin) 0 0 0;
  display: block;
}
.content h1 + p,
.content h2 + p,
.content h3 + p,
.content h4 + p,
.content h5 + p,
.content h6 + p {
  margin-top: calc(var(--margin) / 2);
}
