.content cite {
  font-style: italic;
}
.content q {
  font-style: italic;
}
.content q::before,
.content q::after {
  content: '"';
  font-style: inherit;
}
.content blockquote {
  width: fit-content;
  margin-top: var(--margin);
  padding: 0 0.5rem 0 1rem;
  border-left: solid var(--border-width) var(--content-background-middle);
  font-size: 0.8rem;
}
