main cite {
  font-style: italic;
}
main q {
  font-style: italic;
}
main q::before,
main q::after {
  content: '"';
  font-style: inherit;
}
main blockquote {
  width: fit-content;
  margin: 1.6rem 0;
  padding: 0 0.5rem 0 1.2rem;
  font-size: 1.3rem;
  border-left: solid 0.5rem #5f0f40;
  border-color: #e0e0e0;
}
main blockquote * {
  font-size: 1.3rem;
}
