main cite {
  font-style: italic;
}
main q {
  font-style: italic;
}
main q::before,
main q::after {
  content: '"';
  font-style: inherit;
}
main blockquote {
  width: fit-content;
  margin-top: var(--margin-content);
  padding: 0 0.5rem 0 1rem;
  border-left: solid var(--border-width) var(--background-middle);
  font-size: 0.8rem;
}
