table {
  margin-top: var(--margin-content);
  table-layout: auto;
  border-collapse: collapse;
  border: none;
  width: 100%;
}
td,
tr,
th {
  padding: 0.5em;
}
th,
th * {
  font-weight: bold;
  color: var(--background-middle);
  background-color: var(--background-dark);
}
tr:nth-child(odd) > td {
  background-color: transparent;
}
tr:nth-child(even) > td {
  background-color: var(--background-middle);
}

/* CV */
main table.cv-experience {
  border: none;
  width: 100%;
  margin-top: var(--margin-content);
  display: block;
}
main table.cv-experience thead {
  display: none;
}
main table.cv-experience tr > td {
  background-color: transparent;
  vertical-align: top;
}
main table.cv-experience tr > td:nth-child(1) {
  padding: 0.5rem 1.6rem 0.5rem 2rem;
}
main table.cv-experience tr > td:nth-child(2) {
  border-left: solid var(--border-width) var(--background-middle);
  padding: 0.5rem 1.6rem;
}
main table.cv-experience td {
  color: var(--background-dark);
}
main table.cv-experience td strong {
  color: var(--text-dark);
}
