table {
  margin-top: var(--margin-content);
  table-layout: auto;
  border-collapse: collapse;
  border: none;
  width: 100%;
}
td,
tr,
th {
  padding: 0.5em;
}
th,
th * {
  font-weight: bold;
  color: var(--background-middle);
  background-color: var(--background-dark);
}
tr:nth-child(odd) > td {
  background-color: transparent;
}
tr:nth-child(even) > td {
  background-color: var(--background-middle);
}
