/* Desktops */
@media only screen and (min-width: 1800px) {
  :root {
    --padding-main: 2.5rem;
  }
  #layout-gallery .gallery-item,
  #layout-gallery-single #gallery-items-container figure {
    flex: calc(33% - var(--margin) / 2);
    max-width: calc(33% - var(--margin) / 5);
  }
}

/* Laptops */
@media only screen and (min-width: 1200px) {
  :root {
    --padding-main: 2.5rem;
  }
  #layout-section .subpage,
  #layout-gallery .gallery-item,
  #layout-gallery-single #gallery-items-container figure {
    flex: calc(50% - var(--margin) / 2);
    max-width: calc(50% - var(--margin) / 4);
  }
}

/* Tablets landscape */
@media only screen and (min-width: 1024px) {
}

/* Tablets portrait */
@media only screen and (min-width: 768px) {
  :root {
    --margin-large: 2.5rem;
  }
  #on-this-page-wrapper,
  #side-menu-wrapper {
    display: none;
  }
}

/* Phones landscape */
@media only screen and (min-width: 640px) {
  :root {
    --font-size: 1.5rem;
    --margin: 1.5rem;
  }
}
.hamburger-wrapper,
#nav-primary {
  display: none;
}

/* Phones portrait */
@media only screen and (max-width: 640px) {
  :root {
    --font-size: 1.4rem;
    --margin: 1.4rem;
    --margin-large: 1.5rem;
    --padding-main: 1.5rem;
  }
  #layout-section .subpage,
  #layout-gallery .gallery-item,
  #layout-gallery-single .gallery-item {
    flex: 100% !important;
    max-width: 100% !important;
  }
  .side-menu-wrapper,
  .on-this-page-wrapper,
  .hamburger-wrapper {
    display: none;
  }
}

/* Print */
@media only print {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 0rem;
  }
}
