/* S */
:root {
  --font-size: 1.4rem;
  --margin: 1.4rem;
  --margin-large: 1.5rem;
  --padding-main: 1.5rem;
}
.hamburger-wrapper,
.hamburger-wrapper * {
  display: unset;
}
#nav-primary {
  display: none;
}
.side-menu-wrapper {
  display: none;
}
.on-this-page-wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  #content .two_column,
  #content .three_column,
  #content .four_column {
    column-count: 1;
  }
}

/* M */
@media only screen and (min-width: 600px) {
  :root {
    --margin-large: 2.5rem;
    --padding-main: 4rem;
  }
  .hamburger-wrapper,
  .hamburger-wrapper * {
    display: none;
  }
  #nav-primary {
    display: unset;
  }
  .side-menu-wrapper {
    display: none;
  }
  .on-this-page-wrapper {
    display: none;
  }
}

/* L */
@media only screen and (min-width: 900px) {
  .hamburger-wrapper,
  .hamburger-wrapper * {
    display: none;
  }
  #nav-primary {
    display: unset;
  }
  .side-menu-wrapper {
    display: none;
  }
  .on-this-page-wrapper {
    display: unset;
  }
}

/* XL */
@media only screen and (min-width: 1200px) {
  :root {
    --padding-main: 2.5rem;
  }
  #layout-section .subpage,
  .layout-gallery .gallery-item,
  .layout-gallery-single .gallery-item {
    flex: calc(33% - var(--margin));
  }
  .hamburger-wrapper,
  .hamburger-wrapper * {
    display: none;
  }
  #nav-primary {
    display: unset;
  }
  .side-menu-wrapper {
    display: unset;
  }
  .on-this-page-wrapper {
    display: unset;
  }
}

/* XXL */
@media only screen and (min-width: 1800px) {
  :root {
    --padding-main: 2.5rem;
  }
  #layout-section .subpage,
  .layout-gallery .gallery-item,
  .layout-gallery-single .gallery-item {
    flex: calc(25% - var(--margin));
  }
  .hamburger-wrapper,
  .hamburger-wrapper * {
    display: none;
  }
  #nav-primary {
    display: unset;
  }
  .side-menu-wrapper {
    display: unset;
  }
  .on-this-page-wrapper {
    display: unset;
  }
}

/* Print */
@media only print {
  :root {
    --font-size: 1.2rem;
    --margin: 1.2rem;
    --margin-large: 0;
  }
}
