/* Reset margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Position elements */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  height: auto;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--content-background-light);
}
body.modal-on {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body,
header,
footer {
  min-width: 320px;
}
main {
  max-width: 920px !important;
  min-width: 320px;
  width: 100%;
}
#main-side-menus {
  margin: calc(calc(var(--margin) * 1.25) + 4rem) var(--padding-main);
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: var(--margin);
}
#side-menu,
#on-this-page {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* <-- this is the fix */
  padding: calc(calc(var(--margin) * 1.25) + 4rem) 0;
  margin-top: -10rem;
}

article {
  margin-top: var(--margin);
}
article#content {
  margin-top: 0;
}

/* Hide print-specific items */
.print {
  display: none;
}

/* Remove ugly Windows scrollbars */
#side-menu-wrapper::-webkit-scrollbar {
  display: none;
}

#side-menu > ul {
  width: fit-content;
}
/* Style caption */
#side-menu .side-menu-caption {
  font-size: 0.9rem;
}
/* Style items/links */
#side-menu a,
#side-menu li {
  font-size: 0.7rem;
}
#side-menu a {
  padding: 0 0.5rem;
}

#on-this-page-wrapper::-webkit-scrollbar {
  display: none;
}

/* Show level-1 link (h1) for non-mobile */
#on-this-page .on-this-page-caption-dynamic {
  display: unset;
  display: block;
}
/* Hide caption for non-mobile */
#on-this-page .on-this-page-caption-static {
  display: none;
}
/* Style caption */
.on-this-page-caption {
  font-size: 0.9rem;
}
/* Show level-2 links (H2) */
#on-this-page li > ul {
  display: unset;
}
/* Style list items/links */
#on-this-page a,
#on-this-page li {
  font-size: 0.7rem;
  display: block;
}
#on-this-page a {
  padding: 0 0.5rem;
}
