@font-face {
  font-family: "Open Sans Italic";
  src: local("Open Sans Italic"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

/* Set font size */
html {
  font-size: calc(0.625 * var(--font-size));
}
/* Set font style */
* {
  font-family: "Open Sans", sans-serif;
  line-height: var(--line-height);
  color: var(--content-text-dark);
  text-align: left;
}
/* Make the text narrower for certain elements */
#on-this-page a,
#side-menu a,
#site-title a,
#nav-primary a,
.gutter,
.gutter *,
footer a {
  letter-spacing: -0.025em;
}
