/* Imports */
@font-face {
  font-family: "Open Sans Italic";
  src: local("Open Sans Italic"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Set font size */
html {
  font-size: calc(0.625 * var(--font-size));
}
/* Set font style */
* {
  font-family: "Open Sans", sans-serif;
  line-height: var(--line-height);
  color: var(--content-text-dark);
  text-align: left;
}
/* Make the text narrower for certain elements */
#on-this-page a,
#side-menu a,
#site-title a,
#nav-primary a,
.gutter,
.gutter *,
footer a {
  letter-spacing: -0.025em;
}
