{{ define "main" }}
<div id="main-asides" class="layout-single">
  <main id="layout-home">
    <article id="content">
      <section id="intro">
        <h1>{{ .Title }}</h1>
        {{ with .Params.description }}
        <p id="desc">{{ . | markdownify }}</p>
        {{ end }}
      </section>
      {{ partial "layout/bodytext.html" . }} {{ partial
      "layout/navigation/related-links" . }}
    </article>
    <div class="gutter bottom-gutter not-selectable">
      <div class="gutter-group">
        {{ partial "layout/gutter/top" . }} {{ partial "layout/gutter/print" .
        }}
      </div>
      {{ partial "layout/gutter/next-prev-single-page" . }}
    </div>
  </main>
  {{ partial "layout/navigation/on-this-page" . }}
</div>
{{ end }}
