{{ define "main" }}
<main id="layout-home">
  {{ partial "layout/navigation/on-this-page" . }}
  <article class="content">
    <section class="introduction">
      <h1 class="home-heading">{{ .Title }}</h1>
      {{ with .Params.description }}
      <p class="description">{{ . }}</p>
      {{ end }} 
    </section>
    {{ partial "layout/bodytext.html" . }} 
  </article>
  <div class="gutter bottom-gutter">
    <div class="gutter-group">
      {{ partial "layout/gutter/top" . }} {{ partial "layout/gutter/print" . }}
    </div>
</main>
</div>
{{ end }}
