{{ define "main" }}
<div id="main-side-menus">
<main id="layout-home">
  <article id="content">
    <section id="intro">
      <h1 class="home-heading">{{ .Title }}</h1>
      {{ with .Params.description }}
      <p id="desc">{{ . }}</p>
      {{ end }} 
    </section>
    {{ partial "layout/bodytext.html" . }} 
  </article>
  <div class="gutter bottom-gutter">
    <div class="gutter-group">
      {{ partial "layout/gutter/top" . }} {{ partial "layout/gutter/print" . }}
    </div>
</main>
{{ partial "layout/navigation/on-this-page" . }}
</div>
{{ end }}
