/* Top info */
.meta .meta-top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.meta .datetime-wrapper,
.meta .author-wrapper,
.meta .categories-wrapper {
  font-weight: bold;
  font-size: 0.8rem;
}
.meta .author-wrapper,
.meta .categories-wrapper {
  margin-left: 0.25rem;
}
.meta .categories-wrapper {
  margin-left: 0.24rem;
}
.meta .author-wrapper::before {
  content: " | ";
}
.meta .categories-wrapper .category a {
  color: var(--content-text-dark);
  text-decoration: none;
  border: none;
  padding: 0 var(--padding-small);
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
}
.meta .categories-wrapper .category a:hover,
.meta .categories-wrapper .category a:active,
.meta .categories-wrapper .category a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}

/* Tags */
.meta .tags-wrapper ul.tags {
  display: flex;
  flex-wrap: wrap;
}
.meta .tags-wrapper li.tag {
  list-style: none;
  flex-shrink: 0;
}
.meta .tags-wrapper li.tag a {
  font-weight: normal;
  text-decoration: none;
  border: none;
  padding: 0 var(--padding-small);
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
}
.meta .tags-wrapper li.tag a:hover,
.meta .tags-wrapper li.tag a:active,
.meta .tags-wrapper li.tag a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
.meta .tags-wrapper li.tag {
  margin: 0 0.3rem 0 0;
  font-size: 0.8rem;
}
