.on-this-page-wrapper {
  margin: 0 0 var(--margin) 0;
  padding-bottom: var(--margin);
  border-bottom: solid var(--border-width-thin) var(--content-background-middle);
}
.on-this-page-caption {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--content-text-dark);
}

/* Hide level-2 links (h3) for mobile */
#on-this-page li > ul {
  display: none;
}

/* Hide level-1 link (h1) for mobile */
#on-this-page .on-this-page-caption-dynamic {
  display: none;
}
/* Show caption for mobile */
#on-this-page .on-this-page-caption-static {
  display: unset;
  display: block;
}

/* List items */
#on-this-page li {
  list-style: none;
  font-size: 0.8rem;
  text-align: left;
  padding-top: 0.15rem;
}
#on-this-page li:first-of-type {
  padding-top: 0;
}
#on-this-page li li {
  margin-left: 0.5rem;
}

/* Links */
#on-this-page a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--content-text-middle);
  display: inline-block;
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
  text-align: start;
}
#on-this-page a:hover,
#on-this-page a:active,
#on-this-page li a:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
