:root {
  /* COLORS */
  --yellow: #f5bb00;
  --green: #85cb33;
  --orange: #ed6a5a;
  --purple: #7a3bdf;
  --pink: #ef476f;
  --blue: #246eb9;

  --accent: #f5bb00;

  --text-dark: #2e2e2e;
  --text-light: #f4f4f4;

  --background-light: #f4f4f4;
  --background-middle: #e0e0e0;
  --background-dark: #2e2e2e;

  /* MARGINS */
  --margin-content: 1.6rem;
  --margin-layout: 1.6rem;
  --margin-layout-large: 20rem;

  /* DIMENSIONS */
  --font-size: 1.6rem;
  --line-height: 1.6em;

  /* BORDERS */
  --border-radius: 0.35rem;
  --border-width: 0.5rem;
}

/* LARGE DEVICES */
@media only screen and (max-width: 1200px) {
  :root {
    --margin-layout: 1.6rem;
    --margin-layout-large: 15rem;
  }
}
/* LAPTOPS */
@media only screen and (max-width: 992px) {
  :root {
    --font-size: 1.5rem;
    --margin-layout: 1.6rem;
    --margin-layout-large: 10rem;
  }
}
/* TABLETS */
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 1.4rem;
    --margin-layout: 1rem;
    --margin-layout-large: 5rem;
  }
}
/* PORTRAIT PHONES */
@media only screen and (max-width: 576px) {
  :root {
    --font-size: 1.2rem;
    --margin-layout: 0.75rem;
    --margin-layout-large: 2.5rem;
  }
}
