:root {
  /* COLORS */
  --primary-color: #5f0f40;
  --secondary-color: #295180;

  --text-dark: #222222;
  --text-light: #f4f4f4;

  --background-light: #f4f4f4;
  --background-middle: #e0e0e0;
  --background-dark: #222222;

  /* MARGINS */
  --margin: 5rem;
  --margin-large: 20rem;

  /* DIMENSIONS */
  --font-size: 1.6rem;
  --line-height: 1.6em;

  /* BORDERS */
  --border-radius: 0.35rem;
}

/* LARGE DEVICES */
@media only screen and (max-width: 1200px) {
  :root {
    --margin: 2.5rem;
    --margin-large: 10rem;
  }
}
/* LAPTOPS */
@media only screen and (max-width: 992px) {
  :root {
    --margin: 2.5rem;
    --margin-large: 10rem;
  }
}
/* TABLETS */
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 1.4rem;

    --margin: 1rem;
    --margin-large: 6rem;
  }
}
/* PORTRAIT PHONES */
@media only screen and (max-width: 576px) {
  :root {
    --font-size: 1.2rem;

    --margin: 1rem;
    --margin-large: 2.5rem;
  }
}
