/* Gallery grid */
.layout-gallery #gallery-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--margin);
  margin-top: var(--margin);
}

.layout-gallery .gallery-item {
  flex: calc(50% - var(--margin) / 4);
  position: relative;
}

.layout-gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: unset;
}

/* Style headings */
.layout-gallery .gallery-item .gallery-item-title {
  margin: var(--padding) 0 0 0;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: stretch;
}

/* Style descriptions */
.layout-gallery figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 calc(var(--margin) / 1.5) calc(var(--margin) / 2);
  background-color: #38383875;
}
.layout-gallery .gallery-item .description {
  font-size: 0.8rem;
  color: var(--layout-text);
  margin-top: 0;
}

.layout-gallery .gallery-item * {
  text-shadow: var(--text-shadow);
  color: var(--layout-text);
}

/* Gallery single */
#gallery-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--margin);
  margin-top: var(--margin);
}

.layout-gallery-single .gallery-item {
  flex: calc(50% - var(--margin) / 4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.layout-gallery-single .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: unset;
}

.layout-gallery-single .gallery-item figcaption {
  display: none;
}
@media (hover: hover) and (pointer: fine) {
  .layout-gallery-single .gallery-item:hover figcaption {
    display: unset;
  }
}

.layout-gallery-single .gallery-item .icon-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 calc(var(--padding) * 2);
}
.layout-gallery-single .gallery-item .figcaption-title {
  position: absolute;
  padding: var(--padding) calc(var(--padding) * 2.5);
  top: 0;
  left: 0;
}

.layout-gallery-single .gallery-item * {
  text-shadow: var(--text-shadow);
  color: var(--layout-text);
}
.layout-gallery-single .gallery-item a.icon {
  margin: var(--padding);
  border: none;
}
