header {
  color: var(--layout-text);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1;
}
header .header-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--layout-background);
  padding: 0 var(--padding-main);
  min-height: var(--header-height);
}
header .title-nav-wrapper {
  display: flex;
  align-items: center;
}

header .header-buttons-wrapper {
  display: flex;
  align-items: center;
}
header .header-button {
  padding-left: var(--margin);
}

header a.site-title {
  color: var(--layout-text);
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  white-space: nowrap;
}
header #nav-primary {
  padding: 0 1.6rem;
}
header ul.nav-primary-items {
  display: flex;
  flex-wrap: wrap;
}
header li.nav-primary-item {
  list-style: none;
  padding: 0 calc(var(--margin) - var(--padding-small)) 0 0;
  flex-shrink: 0;
}
header li.nav-primary-item:last-of-type {
  list-style: none;
  padding: 0;
}
header a.nav-primary-link {
  color: var(--layout-text);
  text-decoration: none;
  font-weight: 700;
  padding: var(--padding-small) var(--padding);
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
}
header a.nav-primary-link:hover,
header a.nav-primary-link:active,
header a.nav-primary-link:focus {
  background-color: var(--layout-text);
  color: var(--layout-background);
}

/* Indicate active sites 
header #nav-primary a.nav-primary-link.active,
header #nav-primary a.nav-hamburger-link.active {
  border-bottom: solid var(--border-width-thin) var(--layout-text);
}*/
