#layout-single-gallery .modal {
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  right: 0rem;
  left: 0rem;
  display: none;
  background-color: var(--content-background-dark);
  animation: fadein 0.2s;
  z-index: 2;
}
#layout-single-gallery .modal-body {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-bottom: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#layout-single-gallery .modal-figure img {
  max-width: 80vw;
  max-height: 80vh;
  min-width: 180px;
}

#layout-single-gallery .modal-figure .meta {
  position: fixed;
  bottom: var(--margin);
  left: var(--padding-main);
  max-width: 60vw;
}
#layout-single-gallery .modal-figure .counter-control {
  position: fixed;
  bottom: var(--margin);
  right: calc(var(--padding-main));
  display: flex;
  align-items: center;
  flex-direction: row;
}
#layout-single-gallery .modal-figure .operations {
  position: fixed;
  top: var(--margin);
  right: var(--padding-main);
  display: flex;
  align-items: center;
  flex-direction: row;
}

#layout-single-gallery .modal-figure .meta *,
#layout-single-gallery .modal-figure .counter-control *,
#layout-single-gallery .modal-figure .operations * {
  text-shadow: 0px 0px 0.25rem rgba(34, 34, 34, 1);
}

#layout-single-gallery .modal .icon {
  cursor: pointer;
  margin-right: calc(var(--margin) / 4);
}
#layout-single-gallery .modal .icon span,
#layout-single-gallery .counter span {
  color: var(--layout-text);
}
#layout-single-gallery .modal .figcaption-group .icon:last-of-type,
#layout-single-gallery .figcaption-group .icon:last-of-type {
  margin-right: 0;
}
#layout-single-gallery .modal .modal-body .figcaption-group .navicon.icon {
  cursor: pointer;
  margin: 0 calc(var(--margin) / 4);
}

#layout-single-gallery .counter span {
  font-size: 1rem;
  font-weight: 600;
}

#layout-single-gallery .material-icons {
  line-height: 1.6;
}
