.theme-switch-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.theme-switch-wrapper .theme-switch input {
  display: none;
}
.theme-switch-wrapper .theme-switch .material-icons {
  color: var(--layout-text);
  font-size: 2rem;
  display: flex;
  align-items: center;
  /* border: transparent;
  border-radius: 50%;
  background-clip: border-box; */
}

.theme-switch-wrapper .theme-switch:hover .material-icons,
.theme-switch-wrapper .theme-switch:active .material-icons,
.theme-switch-wrapper .theme-switch:focus .material-icons {
  cursor: pointer;
  /* background-color: var(--layout-text);
  color: var(--layout-background); */
}
