footer {
  position: relative;
  bottom: 0;
  background-color: var(--layout-background);
  color: var(--layout-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4rem;
  padding: 0 var(--padding-main);
}
footer * {
  color: var(--layout-text);
}
footer a {
  text-decoration: none;
  font-weight: bold;
}
footer .footer-column {
  display: flex;
}

/* Copyrights */
footer .footer-copyr {
  flex-shrink: 0;
  font-weight: bold;
}
footer .footer-copyr a:hover,
footer .footer-copyr a:active,
footer .footer-copyr a:focus {
  background-color: var(--layout-text);
  color: var(--layout-background);
}
footer .footer-year-home-link {
  margin-right: 0.8rem;
}

footer .footer-home-link {
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
  display: inline-block;
  padding: var(--padding-small) var(--padding);
}

/* Social media buttons */
footer .footer-contact {
  flex-wrap: wrap;
  align-items: center;
}
footer a.footer-image-link {
  line-height: 0;
  margin-left: 0.8rem;
  text-decoration: none;
  margin-bottom: 0.25rem;
}
footer img.footer-icon {
  margin-top: 0.2rem;
  height: 1.5rem;
  width: 1.5rem;
}
