.side-menu-wrapper {
  margin: 0 0 var(--margin) 0;
}
#side-menu .side-menu-caption {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--content-text-dark);
}

/* List items */
#side-menu li {
  list-style: none;
  font-size: 0.8rem;
  text-align: left;
  padding-top: 0.15rem;
}
#side-menu li:first-of-type {
  padding-top: 0;
}
#side-menu li li {
  margin-left: 0.5rem;
}

/* Links */
#side-menu a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--content-text-middle);
  display: block;
  border: transparent;
  border-radius: var(--border-radius);
  background-clip: border-box;
  text-align: start;
}
#side-menu .side-menu-link.active {
  font-weight: bold;
  color: var(--content-text-dark);
}
#side-menu a:hover,
#side-menu a:active,
#side-menu li a:focus,
#side-menu .side-menu-link.active:hover,
#side-menu .side-menu-link.active:active,
#side-menu li .side-menu-link.active:focus {
  background-color: var(--content-text-dark);
  color: var(--content-text-light);
}
